<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-3" style="background-color: #6089da;height: 100vh;">
        <div class="sidebar w-100">
          <div class="sidebar-header">
            <img src="../../Components/logo.png" alt="Bhutan National Medical Service logo"
              style="width: 7rem; border-radius: 50%;">
            <h6 class="text-white pt-5">National Medical Service</h6>
            <h6 class="text-white">SMS: Staff Monitoring System</h6>
          </div>
          <div class="d-flex flex-column flex-md-row justify-content-center ">
            <div class="text-center">

              <div class="d-flex justify-content-center row w-100">

                <div class="bg-white status-div mt-4"
                  style="height: 5rem; width:20rem; border-radius: 1rem; position: relative;">
                  <div class="progress-div"
                    style="height: 5rem; width: 1rem; border-radius: 1rem; position: absolute; top: 0; left: 0; transition: width 0.3s;background-color: #78E289">
                  </div>
                  <div class="d-flex px-5 pt-3" style="position: relative;">
                    <h1><i class="bi bi-person-fill-check"></i></h1>
                    <div class="d-flex row px-5">
                      <h5></h5>
                      <h6>Active </h6>
                      <h6>{{ statusCounts['active'] }}</h6>
                    </div>
                  </div>
                  <div class="progress-div-expanded"
                    style="height: 5rem; width: 0; border-radius: 1rem; position: absolute; top: 0; left: 1rem; transition: width 0.3s; background-color: #78E289;">
                  </div>
                </div>

                <!-- this is the side info tab for leave-->
                <div class="bg-white status-div mt-4"
                  style="height: 5rem; width:20rem; border-radius: 1rem; position: relative;" @click="check = 'Leave'">
                  <div class="progress-div"
                    style="height: 5rem; width: 1rem; border-radius: 1rem; position: absolute; top: 0; left: 0; transition: width 0.3s; background-color: #F97D80;">
                  </div>
                  <div class="d-flex px-5 pt-3" style="position: relative;">
                    <h1><i class="bi bi-person-fill-dash"></i></h1>
                    <div class="d-flex row px-5">
                      <h5></h5>
                      <h6>Leave </h6>
                      <h6>{{ statusCounts['leave'] }}</h6>
                    </div>
                  </div>
                  <div class="progress-div-expanded"
                    style="height: 5rem; width: 0; border-radius: 1rem; position: absolute; top: 0; left: 1rem; transition: width 0.3s; background-color: #F97D80;">
                  </div>
                </div>

                <!-- this is the side info tab training-->
                <div class="bg-white status-div mt-4"
                  style="height: 5rem; width:20rem; border-radius: 1rem; position: relative;"
                  @click="check = 'Training'">
                  <div class="progress-div"
                    style="height: 5rem; width: 1rem; border-radius: 1rem; position: absolute; top: 0; left: 0; transition: width 0.3s; background-color: #6FBEF8;">
                  </div>
                  <div class="d-flex px-5 pt-3" style="position: relative;">
                    <h1><i class="bi bi-person-fill-gear"></i></h1>
                    <div class="d-flex row px-5">
                      <h5></h5>
                      <h6>Training </h6>
                      <h6>{{ statusCounts['training'] }}</h6>
                    </div>
                  </div>
                  <div class="progress-div-expanded"
                    style="height: 5rem; width: 0; border-radius: 1rem; position: absolute; top: 0; left: 1rem; transition: width 0.3s; background-color: #6FBEF8;">
                  </div>
                </div>

                <!-- this is the side info tab for event-->
                <div class="bg-white status-div mt-4"
                  style="height: 5rem; width:20rem; border-radius: 1rem; position: relative;" @click="check = 'Events'">
                  <div class="progress-div"
                    style="height: 5rem; width: 1rem; border-radius: 1rem; position: absolute; top: 0; left: 0; transition: width 0.3s; background-color:#F0EB7C;">
                  </div>
                  <div class="d-flex px-5 pt-3" style="position: relative;">
                    <h1><i class="bi bi-person-fill-up"></i></h1>
                    <div class="d-flex row px-5">
                      <h5></h5>
                      <h6>Event </h6>
                      <h6>{{ statusCounts['events'] }}</h6>
                    </div>
                  </div>
                  <div class="progress-div-expanded"
                    style="height: 5rem; width: 0; border-radius: 1rem; position: absolute; top: 0; left: 1rem; transition: width 0.3s; background-color:#F0EB7C;">
                  </div>
                </div>

              </div>



            </div>
          </div>

        </div>
        <!-- this is for the log out and the small logo of pelden cholay nempar gyel -->
        <div class="d-flex align-items-center w-100 px-4 pe-5" style="padding-top: 2rem;">
          <div class="w-50">
            <img src="https://tinyurl.com/mu7ybe83" alt="" style="height: 3rem; width: auto; border-radius: 50%;">
          </div>
          <Link href="/logout" method="delete" style="text-decoration: none; color: inherit;">
          <div class="w-50 ">
            <div class="d-flex align-items-center float-end pe-1">
              <img src="../../Components/logout.png" alt="logout" style="height:0.9rem;">
              <p class="text-white" style="padding-top: 0.9rem;">Logout</p>
            </div>
          </div>
          </Link>
        </div>
      </div>
      <div class="col-9">
        <h2 class="text-start fw-bold" style="color: gray; margin: 2%;">Staff Analysis</h2>
        <div style="display: flex; justify-content: end;">
          <select v-model="selectedFilter" class="btn cus-btn me-2 "
            style="background-color: #6089DA; color: aliceblue; ">
            <option value='daily' style="background-color: white; color: black;">Daily</option>
            <option value='monthly' style="background-color: white; color: black;">Monthly</option>
            <option value='yearly' style="background-color: white; color: black;">Yearly</option>
          </select>
        </div>
        <div :hidden="selectedFilter !== 'daily'" style="margin: 2%; background-color: #6089DA;">
          <div class="row">
            <div class="col" style="width: 50%; margin: 2%; background-color: #ffffff; ">
              <input type="date" class="form-control my-4" v-model="selectedDate1" />
              <div class="col"
                style="width: 50%; margin: 2%; display: flex; justify-content: center; align-content: center;">
                <div class="chart-container" style="width:100%;">
                    <canvas id="day1" style="width: 100%;"></canvas>
                </div>
              </div>
            </div>
            <div class="col" style="width: 50%; margin: 2%; background-color: #ffffff;">
              <input type="date" class="form-control my-4" v-model="selectedDate2" />
              <div class="col" style="width: 50%; margin: 2%;">
                <div class="chart-container" style="width:100%">
                    <canvas id="day2" style="width: 100%;"></canvas>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div :hidden="selectedFilter !== 'monthly'" style="margin: 2%; background-color: #6089DA;">
          <div class="row">
            <div class="col" style="width: 50%; margin: 2%; background-color: #ffffff;">
              <select v-model="year" class="btn cus-btn me-2 "
                style="background-color: #6089DA; color: white; margin: 2%;">
                <option v-for="x in yearOptions" :value='x' style="background-color: white; color: black;">{{ x }}
                </option>
              </select>
              <div class="col" style="width: 50%; margin: 2%;">
                <div class="chart-container" style="width:100%">
                  
                    <canvas id="month" style="width: 100%;"></canvas>
                  
                </div>
              </div>
            </div>
          </div>

        </div>
        <div :hidden="selectedFilter !== 'yearly'" style="margin: 2%; background-color: #6089DA;">
          <div class="row">
            <div class="col" style="width: 50%; margin: 2%; background-color: #f5f5f5;">
              <select v-model="selectedYear1" class="btn cus-btn me-2 "
                style="background-color: #6089DA; color: white; margin: 2%;">
                <option v-for="x in yearOptions" :value='x' style="background-color: white; color: black;">{{ x }}
                </option>
              </select>
              <div class="col" style="width: 50%; margin: 2%;">
                <div class="chart-container" style="width:100%">
                 
                    <canvas id="chart1" style="width: 100%;"></canvas>
                  
                </div>
              </div>
            </div>
            <div class="col" style="width: 50%; margin: 2%; background-color: #f5f5f5;">
              <select v-model="selectedYear2" class="btn cus-btn me-2 "
                style="background-color: #6089DA; color: white; margin: 2%;">
                <option v-for="x in yearOptions" :value='x' style="background-color: white; color: black;">{{ x }}
                </option>
              </select>
              <div class="col" style="width: 50%; margin: 2%;">
                <div class="chart-container" style="width:100%">
                  
                    <canvas id="chart2" style="width: 100%;"></canvas>
                  

                </div>
              </div>
            </div>
          </div>

        </div>

        <a href="/adm/individualStat" style="padding-top: 0.9rem; text-decoration: none;">
          <p class="text-end"> See Individual Status >> </p>
        </a>

      </div>
    </div>
  </div>
</template>

<script setup>
import { useForm, Link } from '@inertiajs/vue3';
import { ref, computed, watch } from 'vue';
import { onMounted } from 'vue';
import Chart from 'chart.js/auto';

const props = defineProps({
  labels: Array,
  training: Array,
  events: Array,
  leave: Array,
  hospital: Array,
  doctor: Array,
  user: Object,
});

const DoctorsCount = computed(() => {
  const hospitalID = props.hospital.find(hospital => hospital.ADMEmail === props.user.email);

  const statusCounts = {
    active: 0,
    leave: 0,
    training: 0,
    events: 0
  };

  const filteredDoctors = props.doctor.filter((doc) => {

    const status = doc.current_status.toLowerCase();
    const hospital = doc.hospital_id;

    if (status == 'active' && hospital === hospitalID['id']) {
      statusCounts.active++;
    } else if (status == 'leave' && hospital === hospitalID['id']) {
      statusCounts.leave++;
    } else if (status == 'training' && hospital === hospitalID['id']) {
      statusCounts.training++;
    } else if (status == 'events' && hospital === hospitalID['id']) {
      statusCounts.events++;
    }
    return hospital === hospitalID['id'];

  });


  return [filteredDoctors.length, statusCounts];
});

const today = () => {
  const today = new Date();
  const year = today.getFullYear();
  const month = (today.getMonth() + 1).toString().padStart(2, '0');
  const day = today.getDate().toString().padStart(2, '0');

  return `${year}-${month}-${day}`;
};
const selectedFilter = ref('daily');
const selectedDate1 = ref(today());
const selectedDate2 = ref(today());
const selectedYear1 = ref(new Date().getFullYear());
const selectedYear2 = ref(new Date().getFullYear());
const year = ref(new Date().getFullYear());
const day1 = computed(() => {
  const hospitalID = props.hospital.find(hospital => hospital.ADMEmail === props.user.email);
  const date = new Date(selectedDate1.value);

  const statusCounts = {
    leave: 0,
    training: 0,
    events: 0
  };

  props.leave.filter((doc) => {

    const hospital = doc.hospital_id;
    const start = new Date(doc.startDate);
    const end = new Date(doc.endDate);

    if (hospital === hospitalID['id'] && start <= date && end >= date) {
      statusCounts.leave++;
    }

  });
  props.training.filter((doc) => {

    const hospital = doc.hospital_id;
    const start = new Date(doc.startDate);
    const end = new Date(doc.endDate);

    if (hospital === hospitalID['id'] && start <= date && end >= date) {
      statusCounts.training++;
    }

  });
  props.events.filter((doc) => {

    const hospital = doc.hospital_id;
    const start = new Date(doc.startDate);
    const end = new Date(doc.endDate);

    if (hospital === hospitalID['id'] && start <= date && end >= date) {
      statusCounts.events++;
    }

  });
  console.log(statusCounts)
  return [
    { label: 'Leave', value: statusCounts.leave },
    { label: 'Training', value: statusCounts.training },
    { label: 'Events', value: statusCounts.events }
  ];
});
const day2 = computed(() => {
  const hospitalID = props.hospital.find(hospital => hospital.ADMEmail === props.user.email);
  const date = new Date(selectedDate2.value);

  const statusCounts = {
    leave: 0,
    training: 0,
    events: 0
  };

  props.leave.filter((doc) => {

    const hospital = doc.hospital_id;
    const start = new Date(doc.startDate);
    const end = new Date(doc.endDate);

    if (hospital === hospitalID['id'] && start <= date && end >= date) {
      statusCounts.leave++;
    }

  });
  props.training.filter((doc) => {

    const hospital = doc.hospital_id;
    const start = new Date(doc.startDate);
    const end = new Date(doc.endDate);

    if (hospital === hospitalID['id'] && start <= date && end >= date) {
      statusCounts.training++;
    }

  });
  props.events.filter((doc) => {

    const hospital = doc.hospital_id;
    const start = new Date(doc.startDate);
    const end = new Date(doc.endDate);

    if (hospital === hospitalID['id'] && start <= date && end >= date) {
      statusCounts.events++;
    }

  });

  return [
    { label: 'Leave', value: statusCounts.leave },
    { label: 'Training', value: statusCounts.training },
    { label: 'Events', value: statusCounts.events }
  ];
});
const year1 = computed(() => {
  const hospitalID = props.hospital.find(hospital => hospital.ADMEmail === props.user.email);

  const statusCounts = {
    leave: 0,
    training: 0,
    events: 0
  };

  props.leave.filter((doc) => {

    const hospital = doc.hospital_id;
    const start = new Date(doc.startDate).getFullYear();
    const end = new Date(doc.endDate).getFullYear();
    console.log('1', start, '2', selectedYear1.value)
    if (hospital === hospitalID['id'] && start <= selectedYear1.value && end >= selectedYear1.value) {
      statusCounts.leave++;
    }

  });
  props.training.filter((doc) => {

    const hospital = doc.hospital_id;
    const start = new Date(doc.startDate).getFullYear();
    const end = new Date(doc.endDate).getFullYear();

    if (hospital === hospitalID['id'] && start <= selectedYear1.value && end >= selectedYear1.value) {
      statusCounts.training++;
    }

  });
  props.events.filter((doc) => {

    const hospital = doc.hospital_id;
    const start = new Date(doc.startDate).getFullYear();
    const end = new Date(doc.endDate).getFullYear();

    if (hospital === hospitalID['id'] && start <= selectedYear1.value && end >= selectedYear1.value) {
      statusCounts.events++;
    }

  });
  console.log(statusCounts)
  return [
    { label: 'Leave', value: statusCounts.leave },
    { label: 'Training', value: statusCounts.training },
    { label: 'Events', value: statusCounts.events }
  ];
});

const year2 = computed(() => {
  const hospitalID = props.hospital.find(hospital => hospital.ADMEmail === props.user.email);

  const statusCounts = {
    leave: 0,
    training: 0,
    events: 0
  };

  props.leave.filter((doc) => {

    const hospital = doc.hospital_id;
    const start = new Date(doc.startDate).getFullYear();
    const end = new Date(doc.endDate).getFullYear();

    if (hospital === hospitalID['id'] && start <= selectedYear2.value && end >= selectedYear2.value) {
      statusCounts.leave++;
    }

  });
  props.training.filter((doc) => {

    const hospital = doc.hospital_id;
    const start = new Date(doc.startDate).getFullYear();
    const end = new Date(doc.endDate).getFullYear();

    if (hospital === hospitalID['id'] && start <= selectedYear2.value && end >= selectedYear2.value) {
      statusCounts.training++;
    }

  });

  props.events.filter((doc) => {

    const hospital = doc.hospital_id;
    const start = new Date(doc.startDate).getFullYear();
    const end = new Date(doc.endDate).getFullYear();

    if (hospital === hospitalID['id'] && start <= selectedYear2.value && end >= selectedYear2.value) {
      statusCounts.events++;
    }

  });

  return [
    { label: 'Leave', value: statusCounts.leave },
    { label: 'Training', value: statusCounts.training },
    { label: 'Events', value: statusCounts.events }
  ];
});

const mounth = computed(() => {
  const hospitalID = props.hospital.find(hospital => hospital.ADMEmail === props.user.email);

  const statusCounts = {
    1: {
      leave: 0,
      training: 0,
      events: 0
    },
    2: {
      leave: 0,
      training: 0,
      events: 0
    },
    3: {
      leave: 0,
      training: 0,
      events: 0
    },
    4: {
      leave: 0,
      training: 0,
      events: 0
    },
    5: {
      leave: 0,
      training: 0,
      events: 0
    },
    6: {
      leave: 0,
      training: 0,
      events: 0
    },
    7: {
      leave: 0,
      training: 0,
      events: 0
    },
    8: {
      leave: 0,
      training: 0,
      events: 0
    },
    9: {
      leave: 0,
      training: 0,
      events: 0
    },
    10: {
      leave: 0,
      training: 0,
      events: 0
    },
    11: {
      leave: 0,
      training: 0,
      events: 0
    },
    12: {
      leave: 0,
      training: 0,
      events: 0
    }
  };

  props.leave.filter((doc) => {

    const hospital = doc.hospital_id;
    const start = new Date(doc.startDate).getFullYear();
    const end = new Date(doc.endDate).getFullYear();
    const x = new Date(doc.startDate).getMonth();

    if (hospital === hospitalID['id'] && start <= year.value && end >= year.value) {
      statusCounts[x + 1].leave++;
    }

  });
  props.training.filter((doc) => {

    const hospital = doc.hospital_id;
    const start = new Date(doc.startDate).getFullYear();
    const end = new Date(doc.endDate).getFullYear();
    const x = new Date(doc.startDate).getMonth();

    if (hospital === hospitalID['id'] && start <= year.value && end >= year.value) {
      statusCounts[x + 1].training++;
    }

  });

  props.events.filter((doc) => {

    const hospital = doc.hospital_id;
    const start = new Date(doc.startDate).getFullYear();
    const end = new Date(doc.endDate).getFullYear();
    const x = new Date(doc.startDate).getMonth();

    if (hospital === hospitalID['id'] && start <= year.value && end >= year.value) {
      statusCounts[x + 1].events++;
    }

  });

  return statusCounts;
});

const [resultCount, statusCounts] = DoctorsCount.value;

const yearOptions = computed(() => {
  const currentYear = new Date().getFullYear();
  const startYear = 2017;
  const years = [];

  for (let year = currentYear; year >= startYear; year--) {
    years.push(year);
  }

  return years;
});

const createPieCharts1 = (elementId, data) => {
  console.log(selectedDate1.value)
  const ctx = document.getElementById(elementId).getContext('2d');
  if (!ctx) {
    console.error(`Canvas element with id ${elementId} not found`);
    return;
  }

  new Chart(ctx, {
    type: 'pie',
    data: {
      labels: data.map(item => item.label),
      datasets: [{
        data: data.map(item => item.value),
        backgroundColor: ['#F97D80', '#6FBEF8', '#F0EB7C'],
        borderColor: 'transparent',
      }],
    },
    options: {
      plugins: {
        legend: {
          display: true,
        },
        tooltip: {
          callbacks: {
            label: (context) => {
              const value = context.parsed || 0;
              return `Count: ${value}`;
            }
          },
        },
      },
    },
  });
};

const createPieCharts2 = (elementId, data) => {
  const ctx = document.getElementById(elementId).getContext('2d');
  if (!ctx) {
    console.error(`Canvas element with id ${elementId} not found`);
    return;
  }

  new Chart(ctx, {
    type: 'pie',
    data: {
      labels: data.map(item => item.label),
      datasets: [{
        data: data.map(item => item.value),
        backgroundColor: ['#F97D80', '#6FBEF8', '#F0EB7C'],
        borderColor: 'transparent',
      }],
    },
    options: {
      plugins: {
        legend: {
          display: true,
        },
        tooltip: {
          callbacks: {
            label: (context) => {
              const value = context.parsed || 0;
              return `Count: ${value}`;
            }
          },
        },
      },
    },
  });
};

const createPieCharts3 = (elementId, data) => {
  console.log(elementId)
  const ctx = document.getElementById(elementId).getContext('2d');
  console.log(ctx)
  if (!ctx) {
    console.error(`Canvas element with id ${elementId} not found`);
    return;
  }

  new Chart(ctx, {
    type: 'pie',
    data: {
      labels: data.map(item => item.label),
      datasets: [{
        data: data.map(item => item.value),
        backgroundColor: ['#F97D80', '#6FBEF8', '#F0EB7C'],
        borderColor: 'transparent',
      }],
    },
    options: {
      plugins: {
        legend: {
          display: true,
        },
        tooltip: {
          callbacks: {
            label: (context) => {
              const value = context.parsed || 0;
              return `Count: ${value}`;
            }
          },
        },
      },
    },
  });
};

const createPieCharts4 = (elementId, data) => {
  const ctx = document.getElementById(elementId).getContext('2d');
  if (!ctx) {
    console.error(`Canvas element with id ${elementId} not found`);
    return;
  }

  new Chart(ctx, {
    type: 'pie',
    data: {
      labels: data.map(item => item.label),
      datasets: [{
        data: data.map(item => item.value),
        backgroundColor: ['#F97D80', '#6FBEF8', '#F0EB7C'],
        borderColor: 'transparent',
      }],
    },
    options: {
      plugins: {
        legend: {
          display: true,
        },
        tooltip: {
          callbacks: {
            label: (context) => {
              const value = context.parsed || 0;
              return `Count: ${value}`;
            }
          },
        },
      },
    },
  });
};

const createBarChart = (elementId, data) => {
  const ctx = document.getElementById(elementId).getContext('2d');
  if (!ctx) {
    console.error(`Canvas element with id ${elementId} not found`);
    return;
  }
  const monthNames = ['Jan', 'Feb', 'March', 'April', 'May', 'June', 'July', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: Object.keys(data).map(month => monthNames[parseInt(month) - 1]),
      datasets: [
        {
          label: 'Leave',
          data: Object.values(data).map(status => status.leave),
          backgroundColor: '#F97D80',
        },
        {
          label: 'Training',
          data: Object.values(data).map(status => status.training),
          backgroundColor: '#6FBEF8',
        },
        {
          label: 'Events',
          data: Object.values(data).map(status => status.events),
          backgroundColor: '#F0EB7C',
        }
      ],
    },
    options: {
      scales: {
        x: {
          stacked: true,
        },
        y: {
          stacked: true,
        },
      },
      plugins: {
        legend: {
          display: true,
        },
      },
    },
  });
};

onMounted(() => {
  setTimeout(async () => {
    createPieCharts1('day1', day1.value);
    createPieCharts2('day2', day2.value);
    createPieCharts3('chart1', year1.value);
    createPieCharts4('chart2', year2.value);
    createBarChart('month', mounth.value);
  }, 0);
});
watch(selectedDate1, () => {

  Chart.getChart('day1')?.destroy();
  createPieCharts1('day1', day1.value);

});
watch(selectedDate2, () => {
  Chart.getChart('day2')?.destroy();
  createPieCharts2('day2', day2.value);
});
watch(selectedYear1, () => {
  Chart.getChart('chart1')?.destroy();
  createPieCharts3('chart1', year1.value);
});
watch(selectedYear2, () => {
  Chart.getChart('chart2')?.destroy();
  createPieCharts4('chart2', year2.value);
});

watch(year, () => {
  Chart.getChart('month')?.destroy();
  createBarChart('month', mounth.value);
});

watch(selectedFilter, (newF) => {
  // alert("ok")
  Chart.getChart('day1')?.destroy();
  Chart.getChart('day2')?.destroy();
  Chart.getChart('month')?.destroy();
  Chart.getChart('chart1')?.destroy();
  Chart.getChart('chart2')?.destroy();

  if(newF === 'daily'){
    createPieCharts1('day1', day1.value);
    createPieCharts2('day2', day2.value);
  } else if (newF === 'monthly'){
    createBarChart('month', mounth.value);
  }
  else if (newF === 'yearly'){
    createPieCharts3('chart1', year1.value);
    createPieCharts4('chart2', year2.value);
  }
})
</script>

<style scoped>
.container {
  display: flex;
}

.sidebar {
  width: 30rem;
  background-color: #6089da;
}

.sidebar-header {
  padding: 1rem;
  text-align: center;
}

.filters {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 1rem;
}

.filter {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.filter select {
  margin-left: 10px;
}

.main-content {
  flex: 1;
}

.chart-container {
  overflow-x: auto;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
}
.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 2% auto;
}
</style>