<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-3" style="background-color: #6089da;height: 100vh;">
                <div class="sidebar w-100">
                    <div class="sidebar-header">
                        <img src="../../Components/logo.png" alt="Bhutan National Medical Service logo"
                            style="width: 7rem; border-radius: 50%;">
                        <h6 class="text-white pt-5">National Medical Service</h6>
                        <h6 class="text-white">SMS: Staff Monitoring System</h6>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-center ">
                        <div class="text-center">

                            <div class="d-flex justify-content-center row w-100">

                                <div class="bg-white status-div mt-4"
                                    style="height: 5rem; width:20rem; border-radius: 1rem; position: relative;">
                                    <div class="progress-div"
                                        style="height: 5rem; width: 1rem; border-radius: 1rem; position: absolute; top: 0; left: 0; transition: width 0.3s;background-color: #78E289">
                                    </div>
                                    <div class="d-flex px-5 pt-3" style="position: relative;">
                                        <h1><i class="bi bi-person-fill-check"></i></h1>
                                        <div class="d-flex row px-5">
                                            <h5></h5>
                                            <h6>Active </h6>
                                            <h6>{{ statusCounts['active'] }}</h6>
                                        </div>
                                    </div>
                                    <div class="progress-div-expanded"
                                        style="height: 5rem; width: 0; border-radius: 1rem; position: absolute; top: 0; left: 1rem; transition: width 0.3s; background-color: #78E289;">
                                    </div>
                                </div>

                                <div class="bg-white status-div mt-4"
                                    style="height: 5rem; width:20rem; border-radius: 1rem; position: relative;"
                                    @click="check = 'Leave'">
                                    <div class="progress-div"
                                        style="height: 5rem; width: 1rem; border-radius: 1rem; position: absolute; top: 0; left: 0; transition: width 0.3s; background-color: #F97D80;">
                                    </div>
                                    <div class="d-flex px-5 pt-3" style="position: relative;">
                                        <h1><i class="bi bi-person-fill-dash"></i></h1>
                                        <div class="d-flex row px-5">
                                            <h5></h5>
                                            <h6>Leave </h6>
                                            <h6>{{ statusCounts['leave'] }}</h6>
                                        </div>
                                    </div>
                                    <div class="progress-div-expanded"
                                        style="height: 5rem; width: 0; border-radius: 1rem; position: absolute; top: 0; left: 1rem; transition: width 0.3s; background-color: #F97D80;">
                                    </div>
                                </div>

                                <div class="bg-white status-div mt-4"
                                    style="height: 5rem; width:20rem; border-radius: 1rem; position: relative;"
                                    @click="check = 'Training'">
                                    <div class="progress-div"
                                        style="height: 5rem; width: 1rem; border-radius: 1rem; position: absolute; top: 0; left: 0; transition: width 0.3s; background-color: #6FBEF8;">
                                    </div>
                                    <div class="d-flex px-5 pt-3" style="position: relative;">
                                        <h1><i class="bi bi-person-fill-gear"></i></h1>
                                        <div class="d-flex row px-5">
                                            <h5></h5>
                                            <h6>Training </h6>
                                            <h6>{{ statusCounts['training'] }}</h6>
                                        </div>
                                    </div>
                                    <div class="progress-div-expanded"
                                        style="height: 5rem; width: 0; border-radius: 1rem; position: absolute; top: 0; left: 1rem; transition: width 0.3s; background-color: #6FBEF8;">
                                    </div>
                                </div>

                                <div class="bg-white status-div mt-4"
                                    style="height: 5rem; width:20rem; border-radius: 1rem; position: relative;"
                                    @click="check = 'Events'">
                                    <div class="progress-div"
                                        style="height: 5rem; width: 1rem; border-radius: 1rem; position: absolute; top: 0; left: 0; transition: width 0.3s; background-color:#F0EB7C;">
                                    </div>
                                    <div class="d-flex px-5 pt-3" style="position: relative;">
                                        <h1><i class="bi bi-person-fill-up"></i></h1>
                                        <div class="d-flex row px-5">
                                            <h5></h5>
                                            <h6>Event </h6>
                                            <h6>{{ statusCounts['events'] }}</h6>
                                        </div>
                                    </div>
                                    <div class="progress-div-expanded"
                                        style="height: 5rem; width: 0; border-radius: 1rem; position: absolute; top: 0; left: 1rem; transition: width 0.3s; background-color:#F0EB7C;">
                                    </div>
                                </div>

                            </div>



                        </div>
                    </div>

                </div>

                <div class="d-flex align-items-center w-100 px-4 pe-5" style="padding-top: 2rem;">
                    <div class="w-50">
                        <img src="https://tinyurl.com/mu7ybe83" alt=""
                            style="height: 3rem; width: auto; border-radius: 50%;">
                    </div>
                    <Link href="/logout" method="delete" style="text-decoration: none; color: inherit;">
                    <div class="w-50 ">
                        <div class="d-flex align-items-center float-end pe-1">
                            <img src="../../Components/logout.png" alt="logout" style="height:0.9rem;">
                            <p class="text-white" style="padding-top: 0.9rem;">Logout</p>
                        </div>
                    </div>
                    </Link>
                </div>
            </div>
            <div class="col-9">
                <div class="py-5">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex" style="margin-left: 2%;">
                            <Link href="/adm/individualStat">
                            <div class="btn cus-btn me-2" data-bs-toggle="modal" style="background-color: #6089DA;"
                                role="button">
                                <p class="text-white" style="padding: 0; margin: 0;"> Back </p>
                            </div>
                            </Link>
                        </div>
                    </div>
                </div>
                <div>
                    <h5 class="text-start fw-bold" style="color: gray; margin-left: 2%;">Doctor Profile</h5>
                    <div class="row">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex"
                                style="background-color: #F5F5F5; width: 96%; margin-left: 2%; min-width: 800px;">
                                <div class="col-3" style="margin: 2%;">
                                    <img :src="doc[0].src" alt="Profile Picture" style="width: 100%; min-width: 300px;">
                                </div>
                                <div class="col-3" style="margin: 2%;">
                                    <h6>{{ doc[0].DoctorName }}</h6>
                                    <h6>{{ doc[0].Education }}</h6>
                                    <h6>{{ doc[0].Title }}</h6>
                                    <h6>{{ doc[0].Department }}</h6>
                                    <h6>+975 {{ doc[0].phone }}</h6>
                                    <h6>{{ doc[0].email }}</h6>
                                </div>
                                <div class="col-3">
                                    <div class="row" style="margin-bottom: 30%;margin-top: 4%;">
                                        <div class="col">
                                            <a class="" data-bs-toggle="modal" href="#edit" role="button">
                                                <h1><i class="bi bi-pencil-square"></i></h1>
                                            </a>
                                        </div>
                                        <div class="col">
                                            <a class="" data-bs-toggle="modal" href="#delete" role="button">
                                                <h1><i class="bi bi-trash"></i></h1>
                                            </a>
                                        </div>
                                        <!-- start of edit popup  -->
                                        <div class="modal fade" id="edit" aria-hidden="true"
                                            aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <form @submit.prevent="form.post('/editDoctor')">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalToggleLabel">Edit
                                                                Doctor Details for {{ doc[0].DoctorName }}
                                                            </h5>
                                                            <button type="button" class="btn-close"
                                                                data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="form-outline mb-4 text-start">
                                                                <input type="text" id="form2Example1" placeholder="Name"
                                                                    class="form-control my-4" v-model="form.name" />
                                                                <div v-if="form.errors.name">
                                                                    <div
                                                                        class="errorMessaage text-danger d-flex justify-content-center py-2 fw-bold">
                                                                        {{ form.errors.name }}
                                                                    </div>
                                                                </div>

                                                                <input id="profile_picture"
                                                                    class="form-control file-input-text" type="file"
                                                                    @input="form.profile_picture = $event.target.files[0]"
                                                                    placeholder="Add an Image">
                                                                <div v-if="form.errors.profile_picture">
                                                                    <div
                                                                        class="errorMessaage text-danger d-flex justify-content-center py-2 fw-bold">
                                                                        {{ form.errors.profile_picture }}
                                                                    </div>
                                                                </div>

                                                                <input type="text" id="form2Example1"
                                                                    placeholder="Highest Form of Education"
                                                                    class="form-control my-4"
                                                                    v-model="form.highestFormEdu" />
                                                                <div v-if="form.errors.highestFormEdu">
                                                                    <div
                                                                        class="errorMessaage text-danger d-flex justify-content-center py-2 fw-bold">
                                                                        {{ form.errors.highestFormEdu }}
                                                                    </div>
                                                                </div>

                                                                <input type="text" id="form2Example1"
                                                                    placeholder="Designation" class="form-control my-4"
                                                                    v-model="form.title" />
                                                                <div v-if="form.errors.title">
                                                                    <div
                                                                        class="errorMessaage text-danger d-flex justify-content-center py-2 fw-bold">
                                                                        {{ form.errors.title }}
                                                                    </div>
                                                                </div>

                                                                <input type="text" id="form2Example1"
                                                                    placeholder="Department" class="form-control my-4"
                                                                    v-model="form.department" />
                                                                <div v-if="form.errors.department">
                                                                    <div
                                                                        class="errorMessaage text-danger d-flex justify-content-center py-2 fw-bold">
                                                                        {{ form.errors.department }}
                                                                    </div>
                                                                </div>

                                                                <input type="email" id="form2Example1"
                                                                    placeholder="Email" class="form-control my-4"
                                                                    v-model="form.email" />
                                                                <div v-if="form.errors.email">
                                                                    <div
                                                                        class="errorMessaage text-danger d-flex justify-content-center py-2 fw-bold">
                                                                        {{ form.errors.email }}
                                                                    </div>
                                                                </div>
                                                                <input type="tel" id="form2Example1"
                                                                    placeholder="Phone Number" class="form-control my-4"
                                                                    v-model="form.phoneNo" required />
                                                                <div v-if="form.errors.phoneNo">
                                                                    <div
                                                                        class="errorMessaage text-danger d-flex justify-content-center py-2 fw-bold">
                                                                        {{ form.errors.phoneNo }}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <progress v-if="form.progress"
                                                                :value="form.progress.percentage" max="100"
                                                                style="width: 100%; background-color:#6089da;">
                                                                {{ form.progress.percentage }}%
                                                            </progress>
                                                        </div>
                                                        <div class="d-flex justify-content-around py-4">
                                                            <button type="submit" class="btn col-4"
                                                                style="background-color: #74DF86; color: white;"
                                                                :disabled="form.processing">Confirm</button>
                                                            <button type="reset" class="btn btn-danger col-4"
                                                                data-bs-target="#exampleModalToggle2"
                                                                data-bs-toggle="modal"
                                                                data-bs-dismiss="modal">Cancel</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end of edit popup -->
                                        <!-- start of delete popup -->
                                        <div class="modal fade" id="delete" aria-hidden="true"
                                            aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalToggleLabel">Remove
                                                            Director User Account</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                    </div>
                                                    <form @submit.prevent="deleteDoc.post(`/deleteDoc`)">
                                                        <div class="modal-body">
                                                            <h4>Are you sure you want to delete this doctor: {{
                                                doc[0].DoctorName }}?
                                                            </h4>
                                                            <progress v-if="deleteDoc.progress"
                                                                :value="deleteDoc.progress.percentage" max="100"
                                                                style="width: 100%; background-color:#6089da;">
                                                                {{ deleteDoc.progress.percentage }}%
                                                            </progress>
                                                        </div>
                                                        <!-- button for confirming and cancelling -->
                                                        <div class="d-flex justify-content-around py-4">
                                                            <button type="submit" class="btn col-4"
                                                                style="background-color: #74DF86; color: white;"
                                                                :disabled="deleteDoc.processing">Confirm</button>
                                                            <button type="reset" class="btn btn-danger col-4"
                                                                data-bs-target="#exampleModalToggle2"
                                                                data-bs-toggle="modal"
                                                                data-bs-dismiss="modal">Cancel</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end of popup -->
                                    </div>
                                    <div class="row" style="margin-bottom: 4%;">
                                        <a class="btn cus-btn me-2" data-bs-toggle="modal"
                                            style="background-color: #6089DA; justify-content: end; align-self: bottom;"
                                            role="button" href="#transfer">
                                            <p class="text-white" style="padding: 0; margin: 0;"> Transfer </p>
                                        </a>

                                        <!-- start of transfer popup -->
                                        <div class="modal fade" id="transfer" aria-hidden="true"
                                            aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <form @submit.prevent="form2.post('/transferDoc')">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalToggleLabel">
                                                                Transfering: {{ doc[0].DoctorName }}
                                                            </h5>
                                                            <button type="button" class="btn-close"
                                                                data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="form-outline mb-4 text-start">
                                                                <input type="text" id="form2Example1"
                                                                    placeholder="New Hospital"
                                                                    class="form-control my-4 dropdown-toggle"
                                                                    data-bs-toggle="dropdown" aria-expanded="false"
                                                                    v-model="selectedHospitalName" readonly />
                                                                <ul class="dropdown-menu">
                                                                    <li v-for="s in props.hospital" :key="s.id">
                                                                        <button
                                                                            class="form-control file-input-text dropdown-item"
                                                                            type="button"
                                                                            @click="form2.hospital = s.id, selectedHospitalName = s.name">{{
                                                s.name }}</button>
                                                                    </li>
                                                                </ul>

                                                                <div v-if="form2.errors.hospital">
                                                                    <div
                                                                        class="errorMessaage text-danger d-flex justify-content-center py-2 fw-bold">
                                                                        {{ form2.errors.hospital }}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <progress v-if="form2.progress"
                                                                :value="form2.progress.percentage" max="100"
                                                                style="width: 100%; background-color:#6089da;">
                                                                {{ form2.progress.percentage }}%
                                                            </progress>
                                                        </div>
                                                        <div class="d-flex justify-content-around py-4">
                                                            <button type="submit" class="btn col-4"
                                                                style="background-color: #74DF86; color: white;"
                                                                :disabled="form2.processing">Confirm</button>
                                                            <button type="reset" class="btn btn-danger col-4"
                                                                data-bs-target="#exampleModalToggle2"
                                                                data-bs-toggle="modal"
                                                                data-bs-dismiss="modal">Cancel</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end of transfer popup -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 2%;">
                        <div class="col-3" style="background-color: #F5F5F5; margin-left: 3%; width: 30%;">
                            <h6 class="text-start fw-bold" style="color: gray; margin: 2%;">Leave History</h6>
                            <a :href="`/adm/leaveHystory/${props.id}`" style="text-decoration: none;color: gray;">
                                <h6 class="text-end fw-bold" style="color: gray;">See More ></h6>
                            </a>
                            <table class="table">
                                <thead>
                                    <th scope="col" style="background-color: #6089DA;" class="text-white">Start Date
                                    </th>
                                    <th scope="col" style="background-color: #6089DA;" class="text-white">End Date</th>
                                </thead>
                                <tbody>
                                    <tr v-if="firstSixLeaves.length > 0" v-for="x in firstSixLeaves">
                                        <td>{{ x.startDate }}</td>
                                        <td>{{ x.endDate }}</td>
                                    </tr>
                                    <tr v-else>
                                        <td colspan="2">
                                            <p class="text-center fw-bold" style="color: gray;"> {{ doc[0].DoctorName }}
                                                is yet to take leave </p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-3" style="background-color: #F5F5F5; margin-left: 2%;width: 30%;">
                            <h6 class="text-start fw-bold" style="color: gray; margin: 2%;">Training History</h6>
                            <a :href="`/adm/TrainingHystory/${props.id}`" style="text-decoration: none;color: gray;">
                                <h6 class="text-end fw-bold" style="color: gray;">See More ></h6>
                            </a>
                            <table class="table">
                                <thead>
                                    <th scope="col" style="background-color: #6089DA;" class="text-white">Start Date
                                    </th>
                                    <th scope="col" style="background-color: #6089DA;" class="text-white">End Date</th>
                                </thead>
                                <tbody>
                                    <tr v-if="firstSixTrainings.length > 0" v-for="x in firstSixTrainings">
                                        <td>{{ x.startDate }}</td>
                                        <td>{{ x.endDate }}</td>
                                    </tr>
                                    <tr v-else>
                                        <td colspan="2">
                                            <p class="text-center fw-bold" style="color: gray;"> {{ doc[0].DoctorName }}
                                                is yet go for any training </p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-3" style="background-color: #F5F5F5; margin-left: 2%;width: 30%;">
                            <h6 class="text-start fw-bold" style="color: gray; margin: 2%;">Events History</h6>
                            <a :href="`/adm/eventHistory/${props.id}`" style="text-decoration: none;color: gray;">
                                <h6 class="text-end fw-bold" style="color: gray;">See More ></h6>
                            </a>
                            <table class="table">
                                <thead>
                                    <th scope="col" style="background-color: #6089DA;" class="text-white">Start Date
                                    </th>
                                    <th scope="col" style="background-color: #6089DA;" class="text-white">End Date</th>
                                </thead>
                                <tbody>
                                    <tr v-if="firstSixEvents.length > 0" v-for="x in firstSixEvents">
                                        <td>{{ x.startDate }}</td>
                                        <td>{{ x.endDate }}</td>
                                    </tr>
                                    <tr v-else>
                                        <td colspan="2">
                                            <p class="text-center fw-bold" style="color: gray;"> {{ doc[0].DoctorName }}
                                                is yet to go for any events </p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>



</template>

<script setup>

import { ref, computed } from 'vue';
import { Link, useForm } from '@inertiajs/vue3';

const props = defineProps({
    id: Object,
    hospital: Array,
    doctor: Array,
    user: Object,
    events: Array,
    leave: Array,
    training: Array,

})

const firstSixLeaves = props.leave
    .sort((a, b) => b.id - a.id)
    .filter(leave => leave.doctor_id == props.id)
    .slice(0, 5);

const firstSixTrainings = props.training
    .sort((a, b) => b.id - a.id)
    .filter(training => training.doctor_id == props.id)
    .slice(0, 5);

const firstSixEvents = props.events
    .sort((a, b) => b.id - a.id)
    .filter(event => event.doctor_id == props.id)
    .slice(0, 5);

const Selecteddoc = computed(() => {

    return props.doctor.filter((doc) => {
        const id = doc.id
        return id == props.id;
    });
});

const doc = Selecteddoc.value
const form = useForm({
    id: doc[0].id,
    name: doc[0].DoctorName,
    email: doc[0].email,
    highestFormEdu: doc[0].Education,
    title: doc[0].Title,
    department: doc[0].Department,
    phoneNo: doc[0].phone,
    profile_picture: '',
})
const deleteDoc = useForm({
    id: doc[0].id,
})

const form2 = useForm({
    id: doc[0].id,
    hospital: ''
})
const selectedHospitalName = ref('')
const DoctorsCount = computed(() => {
    const hospitalID = props.hospital.find(hospital => hospital.ADMEmail === props.user.email);

    const statusCounts = {
        active: 0,
        leave: 0,
        training: 0,
        events: 0
    };

    const filteredDoctors = props.doctor.filter((doc) => {

        const status = doc.current_status.toLowerCase();
        const hospital = doc.hospital_id;

        if (status == 'active' && hospital === hospitalID['id']) {
            statusCounts.active++;
        } else if (status == 'leave' && hospital === hospitalID['id']) {
            statusCounts.leave++;
        } else if (status == 'training' && hospital === hospitalID['id']) {
            statusCounts.training++;
        } else if (status == 'events' && hospital === hospitalID['id']) {
            statusCounts.events++;
        }
        return hospital === hospitalID['id'];

    });


    return [filteredDoctors.length, statusCounts]; // Return an array with the count of results and status counts
});
const [resultCount, statusCounts] = DoctorsCount.value;
const check = ref('')

</script>