<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-3" style="background-color: #6089da;height: 100vh;">
                <div class="sidebar w-100">
                    <div class="sidebar-header">
                        <img src="../../Components/logo.png" alt="Bhutan National Medical Service logo"
                            style="width: 7rem; border-radius: 50%;">
                        <h6 class="text-white pt-5">National Medical Service</h6>
                        <h6 class="text-white">SMS: Staff Monitoring System</h6>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-center ">
                        <div class="text-center">

                            <div class="d-flex justify-content-center row w-100">

                                <div class="status-div mt-4" role="button"
                                    :style="{ backgroundColor: check === 'Active' ? '#78E289' : '#FFFFFF' }"
                                    style="height: 5rem; width:20rem; border-radius: 1rem; position: relative;"
                                    @click="setActive">
                                    <div v-if="check !== 'Active'" class="progress-div"
                                        style="height: 5rem; width: 1rem; border-radius: 1rem; position: absolute; top: 0; left: 0; transition: width 0.3s;background-color: #78E289">
                                    </div>
                                    <div class="d-flex px-5 pt-3" style="position: relative;">
                                        <h1><i class="bi bi-person-fill-check"></i></h1>
                                        <div class="d-flex row px-5">
                                            <h5></h5>
                                            <h6>Active </h6>
                                            <h6>{{ statusCounts['active'] }}</h6>
                                        </div>
                                    </div>
                                </div>

                                <!-- this is the side info tab for leave-->
                                <div class="status-div mt-4" role="button"
                                    :style="{ backgroundColor: check === 'Leave' ? '#F97D80' : '#FFFFFF' }"
                                    style="height: 5rem; width:20rem; border-radius: 1rem; position: relative;"
                                    @click="setLeave">
                                    <div v-if="check !== 'Leave'" class="progress-div"
                                        style="height: 5rem; width: 1rem; border-radius: 1rem; position: absolute; top: 0; left: 0; transition: width 0.3s; background-color: #F97D80;">
                                    </div>
                                    <div class="d-flex px-5 pt-3" style="position: relative;">
                                        <h1><i class="bi bi-person-fill-dash"></i></h1>
                                        <div class="d-flex row px-5">
                                            <h5></h5>
                                            <h6>Leave </h6>
                                            <h6>{{ statusCounts['leave'] }}</h6>
                                        </div>
                                    </div>
                                </div>

                                <!-- this is the side info tab training-->
                                <div class="status-div mt-4" role="button"
                                    :style="{ backgroundColor: check === 'Training' ? '#6FBEF8' : '#FFFFFF' }"
                                    style="height: 5rem; width:20rem; border-radius: 1rem; position: relative;"
                                    @click="setTraining">
                                    <div v-if="check !== 'Training'" class="progress-div"
                                        style="height: 5rem; width: 1rem; border-radius: 1rem; position: absolute; top: 0; left: 0; transition: width 0.3s; background-color: #6FBEF8;">
                                    </div>
                                    <div class="d-flex px-5 pt-3" style="position: relative;">
                                        <h1><i class="bi bi-person-fill-gear"></i></h1>
                                        <div class="d-flex row px-5">
                                            <h5></h5>
                                            <h6>Training</h6>
                                            <h6>{{ statusCounts['training'] }}</h6>

                                        </div>
                                    </div>
                                </div>

                                <!-- this is the side info tab for event-->
                                <div class="status-div mt-4" role="button"
                                    :style="{ backgroundColor: check === 'Events' ? '#F0EB7C' : '#FFFFFF' }"
                                    style="height: 5rem; width:20rem; border-radius: 1rem; position: relative;"
                                    @click="setEvent">
                                    <div v-if="check !== 'Event'" class="progress-div"
                                        style="height: 5rem; width: 1rem; border-radius: 1rem; position: absolute; top: 0; left: 0; transition: width 0.3s; background-color:#F0EB7C;">
                                    </div>
                                    <div class="d-flex px-5 pt-3" style="position: relative;">
                                        <h1><i class="bi bi-person-fill-up"></i></h1>
                                        <div class="d-flex row px-5">
                                            <h5></h5>
                                            <h6>Event </h6>
                                            <h6>{{ statusCounts['events'] }}</h6>
                                        </div>
                                    </div>
                                </div>

                            </div>



                        </div>
                    </div>

                </div>
                <!-- this is for the log out and the small logo of pelden cholay nempar gyel -->
                <div class="d-flex align-items-center w-100 px-4 pe-5" style="padding-top: 2rem;">
                    <div class="w-50">
                        <img src="https://tinyurl.com/mu7ybe83" alt=""
                            style="height: 3rem; width: auto; border-radius: 50%;">
                    </div>
                    <Link href="/logout" method="delete" style="text-decoration: none; color: inherit;">
                    <div class="w-50 ">
                        <div class="d-flex align-items-center float-end pe-1">
                            <img src="../../Components/logout.png" alt="logout" style="height:0.9rem;">
                            <p class="text-white" style="padding-top: 0.9rem;">Logout</p>
                        </div>
                    </div>
                    </Link>
                </div>
            </div>

            <div class="col-9">
                <div class="row">
                    <div class="col py-5">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex">
                                <Link href="/adm/home">
                                <div class="btn cus-btn me-2" data-bs-toggle="modal" style="background-color: #6089DA;"
                                    role="button">
                                    <p class="text-white" style="padding: 0; margin: 0;"> Back </p>
                                </div>
                                </Link>
                            </div>
                            <form class="d-flex flex-grow-1" role="search">
                                <input class="form-control flex-grow-1 me-2" type="search" placeholder="Search"
                                    aria-label="Search" v-model="search">
                            </form>
                            <div class="d-flex">
                                <form @submit.prevent="form.post('/doctorAdd')">
                                    <div class="modal fade" id="AddUser" aria-hidden="true"
                                        aria-labelledby="AddUserLabel" tabindex="-1">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="AddUserLabel">Add New Doctor
                                                    </h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="form-outline mb-4 text-start">
                                                        <input type="text" id="form2Example1" placeholder="Name"
                                                            class="form-control my-4" v-model="form.name" />
                                                        <div v-if="form.errors.name">
                                                            <div
                                                                class="errorMessaage text-danger d-flex justify-content-center py-2 fw-bold">
                                                                {{ form.errors.name }}
                                                            </div>
                                                        </div>
                                                        <input type="text" id="form2Example1" placeholder="Employee ID"
                                                            class="form-control my-4" v-model="form.employeeID" />
                                                        <div v-if="form.errors.employeeID">
                                                            <div
                                                                class="errorMessaage text-danger d-flex justify-content-center py-2 fw-bold">
                                                                {{ form.errors.employeeID }}
                                                            </div>
                                                        </div>
                                                        <input id="profile_picture" class="form-control file-input-text"
                                                            type="file"
                                                            @input="form.profile_picture = $event.target.files[0]"
                                                            required placeholder="Add an Image">

                                                        <div v-if="form.errors.profile_picture">
                                                            <div
                                                                class="errorMessaage text-danger d-flex justify-content-center py-2 fw-bold">
                                                                {{ form.errors.profile_picture }}
                                                            </div>
                                                        </div>
                                                        <input type="text" id="form2Example1"
                                                            placeholder="Highest Form of Education"
                                                            class="form-control my-4" v-model="form.highestFormEdu" />
                                                        <div v-if="form.errors.highestFormEdu">
                                                            <div
                                                                class="errorMessaage text-danger d-flex justify-content-center py-2 fw-bold">
                                                                {{ form.errors.highestFormEdu }}
                                                            </div>
                                                        </div>
                                                        <input type="text" id="form2Example1" placeholder="Designation"
                                                            class="form-control my-4" v-model="form.title" />
                                                        <div v-if="form.errors.title">
                                                            <div
                                                                class="errorMessaage text-danger d-flex justify-content-center py-2 fw-bold">
                                                                {{ form.errors.title }}
                                                            </div>
                                                        </div>
                                                        <input type="text" id="form2Example1" placeholder="Department"
                                                            class="form-control my-4" v-model="form.department" />
                                                        <div v-if="form.errors.department">
                                                            <div
                                                                class="errorMessaage text-danger d-flex justify-content-center py-2 fw-bold">
                                                                {{ form.errors.department }}
                                                            </div>
                                                        </div>

                                                        <input type="email" id="form2Example1" placeholder="Email"
                                                            class="form-control my-4" v-model="form.email" />
                                                        <div v-if="form.errors.email">
                                                            <div
                                                                class="errorMessaage text-danger d-flex justify-content-center py-2 fw-bold">
                                                                {{ form.errors.email }}
                                                            </div>
                                                        </div>
                                                        <input type="tel" id="form2Example1" placeholder="Phone Number"
                                                            class="form-control my-4" v-model="form.phoneNo" required />
                                                        <div v-if="form.errors.phoneNo">
                                                            <div
                                                                class="errorMessaage text-danger d-flex justify-content-center py-2 fw-bold">
                                                                {{ form.errors.phoneNo }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <progress v-if="form.progress" :value="form.progress.percentage"
                                                        max="100" style="width: 100%; background-color:#6089da;">
                                                        {{ form.progress.percentage }}%
                                                        <div v-if="form.progress.percentage == '100%'">
                                                            <h2>Done</h2>
                                                        </div>
                                                    </progress>


                                                </div>

                                                <!-- button for confirming and cancelling -->
                                                <div class="d-flex justify-content-around py-4">
                                                    <button type="submit" class="btn col-4"
                                                        style="background-color: #74DF86; color: white;"
                                                        :disabled="form.processing">Confirm</button>
                                                    <button type="reset" class="btn btn-danger col-4"
                                                        data-bs-target="#exampleModalToggle2" data-bs-toggle="modal"
                                                        data-bs-dismiss="modal">Cancel</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </form>

                                <a class="btn cus-btn me-2" data-bs-toggle="modal" style="background-color: #6089DA;"
                                    href="#AddUser" role="button">
                                    <p class="text-white" style="padding: 0; margin: 0;"> Add New Doctor + </p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="py-4">
                    <h5 class="text-start fw-bold" style="color: gray;">Doctors</h5>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col" style="background-color: #6089DA;" class="text-white">Name</th>
                                <th scope="col" style="background-color: #6089DA;" class="text-white">Department</th>
                                <th scope="col" style="background-color: #6089DA;" class="text-white">Status</th>
                                <th scope="col" style="background-color: #6089DA;" class="text-white">Remarks</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr v-if="paginatedDoctors.length > 0" v-for="(r, index) in paginatedDoctors" :key="index">
                                <td>
                                    <a :href="`/adm/docProfile/${r.id}`" style="text-decoration: none;">{{ r.DoctorName
                                        }}</a>
                                </td>
                                <td>{{ r.Department }}</td>
                                <td>
                                    <div class="dropdown">
                                        <a class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"
                                            role="button" style="text-decoration: none;">
                                            {{ r.current_status }}
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li v-if="r.current_status !== 'Active'">
                                                <a class="form-control file-input-text dropdown-item" type="button"
                                                    data-bs-toggle="modal" href="#setActive" @click="active.id = r.id">
                                                    Active
                                                </a>
                                            </li>
                                            <li v-if="r.current_status !== 'Leave'">
                                                <a class="form-control file-input-text dropdown-item"
                                                    data-bs-toggle="modal" type="button" :href="`#setLeave`"
                                                    @click="leave.id = r.id">
                                                    Leave
                                                </a>
                                            </li>
                                            <li v-if="r.current_status !== 'Training'">
                                                <a class="form-control file-input-text dropdown-item"
                                                    data-bs-toggle="modal" type="button" :href="`#setTraining`"
                                                    @click="training.id = r.id">
                                                    Training
                                                </a>
                                            </li>
                                            <li v-if="r.current_status !== 'Events'">
                                                <a class="form-control file-input-text dropdown-item"
                                                    data-bs-toggle="modal" type="button" :href="`#setEvent`"
                                                    @click="event.id = r.id">
                                                    Events
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                                <td>{{ r.current_remarks }}</td>
                            </tr>
                            <tr v-else>
                                <td colspan="8" class="text-center">
                                    <p class="text-danger text-muted ">No Doctors found.</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <form @submit.prevent="active.post('/setActive')">
                        <div class="modal fade" id="setActive" aria-hidden="true" aria-labelledby="AddUserLabel"
                            tabindex="-1">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="AddUserLabel">Set Active</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <input type="email" id="form2Example1" placeholder="Remarks"
                                            class="form-control my-4" v-model="active.remark" />
                                        <div v-if="active.errors.remark">
                                            <div
                                                class="errorMessaage text-danger d-flex justify-content-center py-2 fw-bold">
                                                {{ active.errors.remark }}
                                            </div>
                                        </div>
                                        <progress v-if="form.progress" :value="form.progress.percentage" max="100"
                                            style="width: 100%; background-color:#6089da;">
                                            {{ form.progress.percentage }}%
                                        </progress>
                                    </div>
                                    <div class="d-flex justify-content-around py-4">
                                        <button type="submit" class="btn col-4"
                                            style="background-color: #74DF86; color: white;"
                                            :disabled="form.processing">Confirm</button>
                                        <button type="reset" class="btn btn-danger col-4"
                                            data-bs-target="#exampleModalToggle2" data-bs-toggle="modal"
                                            data-bs-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <form @submit.prevent="leave.post('/setLeave')">
                        <div class="modal fade" :id="`setLeave`" aria-hidden="true" :aria-labelledby="`leaveLabel`"
                            tabindex="-1">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" :id="`leaveLabel`">Set Leave</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <input type="date" placeholder="Start Date" class="form-control my-4"
                                            v-model="leave.start" :min="min" />
                                        <div v-if="leave.errors.start">
                                            <div
                                                class="errorMessaage text-danger d-flex justify-content-center py-2 fw-bold">
                                                {{ leave.errors.start }}
                                            </div>
                                        </div>
                                        <input type="date" placeholder="End Date" class="form-control my-4"
                                            v-model="leave.end" :min="leave.start" />
                                        <div v-if="leave.errors.end">
                                            <div
                                                class="errorMessaage text-danger d-flex justify-content-center py-2 fw-bold">
                                                {{ leave.errors.end }}
                                            </div>
                                        </div>
                                        <input type="text" placeholder="Remarks" class="form-control my-4"
                                            v-model="leave.remark" />
                                        <div v-if="leave.errors.remark">
                                            <div
                                                class="errorMessaage text-danger d-flex justify-content-center py-2 fw-bold">
                                                {{ leave.errors.remark }}
                                            </div>
                                        </div>
                                        <input id="supportingDoc" class="form-control file-input-text" type="file"
                                            @input="leave.doc = $event.target.files[0]" required
                                            placeholder="Supporting Documents">
                                        <div v-if="leave.errors.doc">
                                            <div
                                                class="errorMessaage text-danger d-flex justify-content-center py-2 fw-bold">
                                                {{ leave.errors.doc }}
                                            </div>
                                        </div>
                                        <progress v-if="leave.progress" :value="leave.progress.percentage" max="100"
                                            style="width: 100%; background-color:#6089da;">
                                            {{ leave.progress.percentage }}%
                                        </progress>
                                    </div>
                                    <div class="d-flex justify-content-around py-4">
                                        <button type="submit" class="btn col-4"
                                            style="background-color: #74DF86; color: white;"
                                            :disabled="leave.processing">Confirm</button>
                                        <button type="reset" class="btn btn-danger col-4"
                                            data-bs-target="#exampleModalToggle2" data-bs-toggle="modal"
                                            data-bs-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <form @submit.prevent="training.post('/setTraining')">
                        <div class="modal fade" :id="`setTraining`" aria-hidden="true" :aria-labelledby="`leaveLabel`"
                            tabindex="-1">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" :id="`leaveLabel`">Set Training</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <input type="date" placeholder="Start Date" class="form-control my-4"
                                            v-model="training.start" :min="min" />
                                        <div v-if="training.errors.start">
                                            <div
                                                class="errorMessaage text-danger d-flex justify-content-center py-2 fw-bold">
                                                {{ training.errors.start }}
                                            </div>
                                        </div>
                                        <input type="date" placeholder="End Date" class="form-control my-4"
                                            v-model="training.end" :min="training.start" />
                                        <div v-if="training.errors.end">
                                            <div
                                                class="errorMessaage text-danger d-flex justify-content-center py-2 fw-bold">
                                                {{ training.errors.end }}
                                            </div>
                                        </div>
                                        <input type="text" placeholder="Remarks" class="form-control my-4"
                                            v-model="training.remark" />
                                        <div v-if="training.errors.remark">
                                            <div
                                                class="errorMessaage text-danger d-flex justify-content-center py-2 fw-bold">
                                                {{ training.errors.remark }}
                                            </div>
                                        </div>
                                        <input id="supportingDoc" class="form-control file-input-text" type="file"
                                            @input="training.doc = $event.target.files[0]" required
                                            placeholder="Supporting Documents">
                                        <div v-if="training.errors.doc">
                                            <div
                                                class="errorMessaage text-danger d-flex justify-content-center py-2 fw-bold">
                                                {{ training.errors.doc }}
                                            </div>
                                        </div>
                                        <progress v-if="training.progress" :value="training.progress.percentage"
                                            max="100" style="width: 100%; background-color:#6089da;">
                                            {{ training.progress.percentage }}%
                                        </progress>
                                    </div>
                                    <div class="d-flex justify-content-around py-4">
                                        <button type="submit" class="btn col-4"
                                            style="background-color: #74DF86; color: white;"
                                            :disabled="training.processing">Confirm</button>
                                        <button type="reset" class="btn btn-danger col-4"
                                            data-bs-target="#exampleModalToggle2" data-bs-toggle="modal"
                                            data-bs-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <form @submit.prevent="event.post('/setEvents')">
                        <div class="modal fade" :id="`setEvent`" aria-hidden="true" :aria-labelledby="`leaveLabel`"
                            tabindex="-1">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" :id="`leaveLabel`">Set Event</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <input type="date" placeholder="Start Date" class="form-control my-4"
                                            v-model="event.start" :min="min" />
                                        <div v-if="event.errors.start">
                                            <div
                                                class="errorMessaage text-danger d-flex justify-content-center py-2 fw-bold">
                                                {{ event.errors.start }}
                                            </div>
                                        </div>
                                        <input type="date" placeholder="End Date" class="form-control my-4"
                                            v-model="event.end" :min="event.start" />
                                        <div v-if="event.errors.end">
                                            <div
                                                class="errorMessaage text-danger d-flex justify-content-center py-2 fw-bold">
                                                {{ event.errors.end }}
                                            </div>
                                        </div>
                                        <input type="text" placeholder="Remarks" class="form-control my-4"
                                            v-model="event.remark" />
                                        <div v-if="event.errors.remark">
                                            <div
                                                class="errorMessaage text-danger d-flex justify-content-center py-2 fw-bold">
                                                {{ event.errors.remark }}
                                            </div>
                                        </div>
                                        <input id="supportingDoc" class="form-control file-input-text" type="file"
                                            @input="event.doc = $event.target.files[0]" required
                                            placeholder="Supporting Documents">
                                        <div v-if="event.errors.doc">
                                            <div
                                                class="errorMessaage text-danger d-flex justify-content-center py-2 fw-bold">
                                                {{ event.errors.doc }}
                                            </div>
                                        </div>
                                        <progress v-if="event.progress" :value="event.progress.percentage" max="100"
                                            style="width: 100%; background-color:#6089da;">
                                            {{ event.progress.percentage }}%
                                        </progress>
                                    </div>
                                    <div class="d-flex justify-content-around py-4">
                                        <button type="submit" class="btn col-4"
                                            style="background-color: #74DF86; color: white;"
                                            :disabled="event.processing">Confirm</button>
                                        <button type="reset" class="btn btn-danger col-4"
                                            data-bs-target="#exampleModalToggle2" data-bs-toggle="modal"
                                            data-bs-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="text-center d-flex justify-content-center">
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                                <li class="page-item" :class="{ disabled: currentPage2 === 1 }">
                                    <a class="page-link" href="#" @click="goToPage2(currentPage2 - 1)"
                                        aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li class="page-item" v-for="page in totalPages2" :key="page"
                                    :class="{ active: currentPage2 === page }">
                                    <a class="page-link" href="#" @click="goToPage2(page)">{{ page }}</a>
                                </li>
                                <li class="page-item" :class="{ disabled: currentPage2 === totalPages2 }">
                                    <a class="page-link" href="#" @click="goToPage2(currentPage2 + 1)"
                                        aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>

                    <div style="display: flex; justify-content: end; align-content: end;">
                        <button class="btn cus-btn me-2" style="background-color: #6089DA;" @click="downloadCSV">
                            <p class="text-white" style="padding: 0; margin: 0;">Download as an Excel file</p>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script setup>

import { ref, computed, watch } from 'vue';
import { Link, useForm, usePage } from '@inertiajs/vue3';
const search = ref('')
const props = defineProps({

    user: Object,
    hospital: Array,
    doctor: Array,

})

const HID = props.hospital.find(hospital => hospital.ADMEmail === props.user.email);

const form = useForm({
    name: '',
    email: '',
    highestFormEdu: '',
    title: '',
    department: '',
    phoneNo: '',
    employeeID: '',
    hoepitalID: HID['id'],
    profile_picture: '',
})
watch(form, () => {
    console.log(form.success)
})
if (form.reload == 'true') {
    location.reload()
}
const active = useForm({
    remark: '',
    id: '',
})

const leave = useForm({
    remark: '',
    id: '',
    start: '',
    end: '',
    doc: ''
})

const training = useForm({
    remark: '',
    id: '',
    start: '',
    end: '',
    doc: ''
})

const event = useForm({
    remark: '',
    id: '',
    start: '',
    end: '',
    doc: ''
})
const itemsPerPage2 = 10; // Set the number of items per page
const currentPage2 = ref(1);

const check = ref('')

const Doctors = computed(() => {
    const query = search.value.toLowerCase();
    const hospitalID = props.hospital.find(hospital => hospital.ADMEmail === props.user.email);

    return props.doctor.filter((doc) => {
        const name = doc.DoctorName.toLowerCase();
        const Department = doc.Department.toLowerCase();
        const status = doc.current_status.toLowerCase();
        const hospital = doc.hospital_id;

        if (hospitalID && check.value.trim() !== '') {
            return (name.includes(query) || Department.includes(query)) && (status === check.value.toLowerCase() && hospital === hospitalID.id);
        } else {
            return (name.includes(query) || Department.includes(query)) && hospital === hospitalID.id;
        }
    });
});
const DoctorsForDownload = computed(() => {
    return Doctors.value.map(doc => ({
        'Doctor Name': doc.DoctorName,
        'Department': doc.Department,
        'Current Status': doc.current_status,
        'Remarks': doc.current_remarks
    }));
});

const downloadCSV = () => {
    const csvContent = 'data:text/csv;charset=utf-8,' + [
        ['Doctor Name', 'Department', 'Current Status', 'Current Remarks'],
        ...DoctorsForDownload.value.map(doc => [doc['Doctor Name'], doc['Department'], doc['Current Status'], doc['Current Remarks']])
    ].map(e => e.join(',')).join('\n');

    const encodedUri = encodeURI(csvContent);
    const link = document.createElement('a');
    link.setAttribute('href', encodedUri);
    link.setAttribute('download', 'doctor_status.csv');
    document.body.appendChild(link);
    link.click();
    document.body.removeChild(link);
};
const statusCounts = computed(() => {
    const hospitalID = props.hospital.find(hospital => hospital.ADMEmail === props.user.email);

    const statusCounts = {
        active: 0,
        leave: 0,
        training: 0,
        events: 0
    };

    props.doctor.filter((doc) => {

        const status = doc.current_status.toLowerCase();
        const hospital = doc.hospital_id;

        if (status == 'active' && hospital === hospitalID['id']) {
            statusCounts.active++;
        } else if (status == 'leave' && hospital === hospitalID['id']) {
            statusCounts.leave++;
        } else if (status == 'training' && hospital === hospitalID['id']) {
            statusCounts.training++;
        } else if (status == 'events' && hospital === hospitalID['id']) {
            statusCounts.events++;
        }
        return hospital === hospitalID['id'];

    });


    return statusCounts; // Return an array with the count of results and status counts
});


const paginatedDoctors = computed(() => {
    const start = (currentPage2.value - 1) * itemsPerPage2;
    const end = start + itemsPerPage2;
    return Doctors.value.slice(start, end);
});

const totalPages2 = computed(() => Math.ceil(Doctors.value.length / itemsPerPage2));

function goToPage2(page) {
    if (page >= 1 && page <= totalPages2.value) {
        currentPage2.value = page;
    }
}

function setActive() {
    if (check.value === 'Active') {
        check.value = '';
    } else {
        check.value = 'Active';
    }
}
function setLeave() {
    if (check.value === 'Leave') {
        check.value = '';
    } else {
        check.value = 'Leave';
    }
}

function setTraining() {
    if (check.value === 'Training') {
        check.value = '';
    } else {
        check.value = 'Training';
    }
}

function setEvent() {
    if (check.value === 'Events') {
        check.value = '';
    } else {
        check.value = 'Events';
    }
}

const getCurrentDate = () => {
    const today = new Date();
    const year = today.getFullYear();
    const month = (today.getMonth() + 1).toString().padStart(2, '0');
    const day = today.getDate().toString().padStart(2, '0');

    return `${year}-${month}-${day}`;
};

const min = getCurrentDate();
</script>
<style>
.datacursor {
    position: relative;
    cursor: pointer;
}

.uldropdown {
    list-style: none;
    padding: 0;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    display: none;
    width: 100%;
}

.datacursor:hover ul {
    display: block;
}

.custom-file-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-file-input~.file-input-text {
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
    cursor: pointer;
}

.custom-file-input~.file-input-btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    white-space: nowrap;
    cursor: pointer;
}

.custom-file-input:focus~.file-input-text,
.custom-file-input~.file-input-btn:focus {
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.custom-file-input~.file-input-text:after {
    content: "Browse";
    padding: 0.375rem 0.75rem;
    background-color: #e9ecef;
    color: #495057;
    border-left: inherit;
    border-radius: inherit;
}
</style>