<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-3" style="background-color: #6089da;height: 100vh;">
                <div class="sidebar w-100">
                    <div class="sidebar-header">
                        <img src="../../Components/logo.png" alt="Bhutan National Medical Service logo"
                            style="width: 7rem; border-radius: 50%;">
                        <h6 class="text-white pt-5">National Medical Service</h6>
                        <h6 class="text-white">SMS: Staff Monitoring System</h6>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-center ">
                        <div class="text-center">

                            <div class="d-flex justify-content-center row w-100">

                                <div class="bg-white status-div mt-4"
                                    style="height: 5rem; width:20rem; border-radius: 1rem; position: relative;">
                                    <div class="progress-div"
                                        style="height: 5rem; width: 1rem; border-radius: 1rem; position: absolute; top: 0; left: 0; transition: width 0.3s;background-color: #78E289">
                                    </div>
                                    <div class="d-flex px-5 pt-3" style="position: relative;">
                                        <h1><i class="bi bi-person-fill-check"></i></h1>
                                        <div class="d-flex row px-5">
                                            <h5></h5>
                                            <h6>Active </h6>
                                            <h6>{{ statusCounts['active'] }}</h6>
                                        </div>
                                    </div>
                                    <div class="progress-div-expanded"
                                        style="height: 5rem; width: 0; border-radius: 1rem; position: absolute; top: 0; left: 1rem; transition: width 0.3s; background-color: #78E289;">
                                    </div>
                                </div>

                                <!-- this is the side info tab for leave-->
                                <div class="bg-white status-div mt-4"
                                    style="height: 5rem; width:20rem; border-radius: 1rem; position: relative;"
                                    @click="check = 'Leave'">
                                    <div class="progress-div"
                                        style="height: 5rem; width: 1rem; border-radius: 1rem; position: absolute; top: 0; left: 0; transition: width 0.3s; background-color: #F97D80;">
                                    </div>
                                    <div class="d-flex px-5 pt-3" style="position: relative;">
                                        <h1><i class="bi bi-person-fill-dash"></i></h1>
                                        <div class="d-flex row px-5">
                                            <h5></h5>
                                            <h6>Leave </h6>
                                            <h6>{{ statusCounts['leave'] }}</h6>
                                        </div>
                                    </div>
                                    <div class="progress-div-expanded"
                                        style="height: 5rem; width: 0; border-radius: 1rem; position: absolute; top: 0; left: 1rem; transition: width 0.3s; background-color: #F97D80;">
                                    </div>
                                </div>

                                <!-- this is the side info tab training-->
                                <div class="bg-white status-div mt-4"
                                    style="height: 5rem; width:20rem; border-radius: 1rem; position: relative;"
                                    @click="check = 'Training'">
                                    <div class="progress-div"
                                        style="height: 5rem; width: 1rem; border-radius: 1rem; position: absolute; top: 0; left: 0; transition: width 0.3s; background-color: #6FBEF8;">
                                    </div>
                                    <div class="d-flex px-5 pt-3" style="position: relative;">
                                        <h1><i class="bi bi-person-fill-gear"></i></h1>
                                        <div class="d-flex row px-5">
                                            <h5></h5>
                                            <h6>Training </h6>
                                            <h6>{{ statusCounts['training'] }}</h6>
                                        </div>
                                    </div>
                                    <div class="progress-div-expanded"
                                        style="height: 5rem; width: 0; border-radius: 1rem; position: absolute; top: 0; left: 1rem; transition: width 0.3s; background-color: #6FBEF8;">
                                    </div>
                                </div>

                                <!-- this is the side info tab for event-->
                                <div class="bg-white status-div mt-4"
                                    style="height: 5rem; width:20rem; border-radius: 1rem; position: relative;"
                                    @click="check = 'Events'">
                                    <div class="progress-div"
                                        style="height: 5rem; width: 1rem; border-radius: 1rem; position: absolute; top: 0; left: 0; transition: width 0.3s; background-color:#F0EB7C;">
                                    </div>
                                    <div class="d-flex px-5 pt-3" style="position: relative;">
                                        <h1><i class="bi bi-person-fill-up"></i></h1>
                                        <div class="d-flex row px-5">
                                            <h5></h5>
                                            <h6>Event </h6>
                                            <h6>{{ statusCounts['events'] }}</h6>
                                        </div>
                                    </div>
                                    <div class="progress-div-expanded"
                                        style="height: 5rem; width: 0; border-radius: 1rem; position: absolute; top: 0; left: 1rem; transition: width 0.3s; background-color:#F0EB7C;">
                                    </div>
                                </div>

                            </div>



                        </div>
                    </div>

                </div>
                <!-- this is for the log out and the small logo of pelden cholay nempar gyel -->
                <div class="d-flex align-items-center w-100 px-4 pe-5" style="padding-top: 2rem;">
                    <div class="w-50">
                        <img src="https://tinyurl.com/mu7ybe83" alt=""
                            style="height: 3rem; width: auto; border-radius: 50%;">
                    </div>
                    <Link href="/logout" method="delete" style="text-decoration: none; color: inherit;">
                    <div class="w-50 ">
                        <div class="d-flex align-items-center float-end pe-1">
                            <img src="../../Components/logout.png" alt="logout" style="height:0.9rem;">
                            <p class="text-white" style="padding-top: 0.9rem;">Logout</p>
                        </div>
                    </div>
                    </Link>
                </div>
            </div>
            <div class="col-9">
                <div class="py-5">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex" style="margin-left: 4%;">
                            <a :href="`/adm/docProfile/${props.id}`" style="text-decoration: none;">
                                <div class="btn cus-btn me-2" data-bs-toggle="modal" style="background-color: #6089DA;"
                                    role="button">
                                    <p class="text-white" style="padding: 0; margin: 0;"> Back </p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1" style="margin-left: 4%;">
                        <div class="initials-circle">
                            <span>{{ initials }}</span>
                        </div>
                    </div>
                    <div class="col-9" style="display: flex; align-items: center; ">
                        <h3 class="text-start fw-bold" style="color: gray;">{{ doc[0].DoctorName }}</h3>
                    </div>
                </div>
                <div>
                    <h5 class="text-start fw-bold" style="color: gray; margin-left: 4%; margin-top: 2%;">Training History
                    </h5>
                    <div class="row" style="margin-top: 2%;">
                        <div class="col-3" style="margin-left: 3%; width: 90%;">
                            <form class="d-flex flex-grow-1" style="margin-bottom: 2%;" role="search">
                                <input class="form-control flex-grow-1 me-2" type="search" placeholder="Search"
                                    aria-label="Search" v-model="search">
                            </form>
                            <table class="table">
                                <thead>
                                    <th scope="col" style="background-color: #6089DA;" class="text-white">Start Date
                                    </th>
                                    <th scope="col" style="background-color: #6089DA;" class="text-white">End Date</th>
                                    <th scope="col" style="background-color: #6089DA;" class="text-white">Remarks</th>
                                    <th scope="col" style="background-color: #6089DA;" class="text-white">Supporting
                                        Document</th>
                                </thead>
                                <tbody>
                                    <tr v-if="pLeave.length > 0" v-for="x in pLeave">
                                        <td>{{ x.startDate }}</td>
                                        <td>{{ x.endDate }}</td>
                                        <td>{{ x.Remarks }}</td>
                                        <td> <a :href="x.src" target="_blank"><i
                                                    class="bi bi-file-earmark-pdf-fill"></i> </a></td>
                                    </tr>
                                    <tr v-else>
                                        <td colspan="4">
                                            <p class="text-center fw-bold" style="color: gray;"> {{ doc[0].DoctorName }}
                                                is yet to go for any training </p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="text-center d-flex justify-content-center">
                                <nav aria-label="Page navigation">
                                    <ul class="pagination">
                                        <li class="page-item" :class="{ disabled: currentPage === 1 }">
                                            <a class="page-link" href="#" @click="goToPage(currentPage - 1)"
                                                aria-label="Previous">
                                                <span aria-hidden="true">&laquo;</span>
                                            </a>
                                        </li>
                                        <li class="page-item" v-for="page in totalPages" :key="page"
                                            :class="{ active: currentPage === page }">
                                            <a class="page-link" href="#" @click="goToPage(page)">{{ page }}</a>
                                        </li>
                                        <li class="page-item" :class="{ disabled: currentPage === totalPages }">
                                            <a class="page-link" href="#" @click="goToPage(currentPage + 1)"
                                                aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <div style="display: flex; justify-content: end; align-content: end;">
                                <button class="btn cus-btn me-2" style="background-color: #6089DA;"
                                    @click="downloadCSV">
                                    <p class="text-white" style="padding: 0; margin: 0;">Download as an Excel file</p>
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>



</template>

<script setup>

import { ref, computed, onMounted } from 'vue';
import { Link } from '@inertiajs/vue3';

const props = defineProps({
    id: Object,
    hospital: Array,
    doctor: Array,
    user: Object,
    training: Array

})

const Selecteddoc = computed(() => {

    return props.doctor.filter((doc) => {
        const id = doc.id
        return id == props.id;
    });
});

const doc = Selecteddoc.value

const initials = computed(() => {
    return doc[0].DoctorName
        .split(' ')
        .map(word => word.charAt(0).toUpperCase())
        .join('');
});

const selectedHospitalName = ref('')
const DoctorsCount = computed(() => {
    const hospitalID = props.hospital.find(hospital => hospital.ADMEmail === props.user.email);

    const statusCounts = {
        active: 0,
        leave: 0,
        training: 0,
        events: 0
    };

    const filteredDoctors = props.doctor.filter((doc) => {

        const status = doc.current_status.toLowerCase();
        const hospital = doc.hospital_id;

        if (status == 'active' && hospital === hospitalID['id']) {
            statusCounts.active++;
        } else if (status == 'leave' && hospital === hospitalID['id']) {
            statusCounts.leave++;
        } else if (status == 'training' && hospital === hospitalID['id']) {
            statusCounts.training++;
        } else if (status == 'events' && hospital === hospitalID['id']) {
            statusCounts.events++;
        }
        return hospital === hospitalID['id'];

    });


    return [filteredDoctors.length, statusCounts]; // Return an array with the count of results and status counts
});
const [resultCount, statusCounts] = DoctorsCount.value;
const check = ref('')
const search = ref('')

const leave = computed(() => {
    const query = search.value.toLowerCase();
    return props.training
        .filter(leave => leave.doctor_id == props.id)
        .filter(leave =>
            leave.startDate.toLowerCase().includes(query) ||
            leave.endDate.toLowerCase().includes(query) ||
            leave.Remarks.toLowerCase().includes(query)
        )
        .sort((a, b) => b.id - a.id);
});

const itemsPerPage = 8; // Set the number of items per page
const currentPage = ref(1);

const pLeave = computed(() => {
    const start = (currentPage.value - 1) * itemsPerPage;
    const end = start + itemsPerPage;
    return leave.value.slice(start, end);
});
const downloadCSV = () => {
    const csvContent = 'data:text/csv;charset=utf-8,' + [
        ['Start Date', 'End Date', 'Remarks', 'Supporting Document'],
        ...leave.value.map(l => [l.startDate, l.endDate, l.Remarks, l.src])
    ].map(e => e.join(',')).join('\n');

    const encodedUri = encodeURI(csvContent);
    const link = document.createElement('a');
    link.setAttribute('href', encodedUri);
    link.setAttribute('download', `events_history_of_${doc[0].DoctorName}.csv`);
    document.body.appendChild(link);
    link.click();
    document.body.removeChild(link);
};
const totalPages = computed(() => Math.ceil(leave.value.length / itemsPerPage));

function goToPage(page) {
    if (page >= 1 && page <= totalPages.value) {
        currentPage.value = page;
    }
}
</script>

<style>
.initials-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #6089DA;
    color: white;
    font-weight: bold;
    font-size: 24px;
    margin-top: 2%;
}
</style>