<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-3" style="background-color: #6089da;height: 100vh;">
                <div class="sidebar w-100">
                    <div class="sidebar-header">
                        <img src="../../Components/logo.png" alt="Bhutan National Medical Service logo"
                            style="width: 7rem; border-radius: 50%;">
                        <h6 class="text-white pt-5">National Medical Service</h6>
                        <h6 class="text-white">SMS: Staff Monitoring System</h6>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-center ">
                        <div class="text-center">

                            <div class="d-flex justify-content-center row w-100">

                                <div class="bg-white status-div mt-4"
                                    style="height: 5rem; width:20rem; border-radius: 1rem; position: relative;">
                                    <div class="progress-div"
                                        style="height: 5rem; width: 1rem; border-radius: 1rem; position: absolute; top: 0; left: 0; transition: width 0.3s;background-color: #78E289">
                                    </div>
                                    <div class="d-flex px-5 pt-3" style="position: relative;">
                                        <h1><i class="bi bi-person-fill-check"></i></h1>
                                        <div class="d-flex row px-5">
                                            <h5></h5>
                                            <h6>Active </h6>
                                            <h6>{{ statusCounts['active'] }}</h6>
                                        </div>
                                    </div>
                                    <div class="progress-div-expanded"
                                        style="height: 5rem; width: 0; border-radius: 1rem; position: absolute; top: 0; left: 1rem; transition: width 0.3s; background-color: #78E289;">
                                    </div>
                                </div>

                                <!-- this is the side info tab for leave-->
                                <div class="bg-white status-div mt-4"
                                    style="height: 5rem; width:20rem; border-radius: 1rem; position: relative;"
                                    @click="check = 'Leave'">
                                    <div class="progress-div"
                                        style="height: 5rem; width: 1rem; border-radius: 1rem; position: absolute; top: 0; left: 0; transition: width 0.3s; background-color: #F97D80;">
                                    </div>
                                    <div class="d-flex px-5 pt-3" style="position: relative;">
                                        <h1><i class="bi bi-person-fill-dash"></i></h1>
                                        <div class="d-flex row px-5">
                                            <h5></h5>
                                            <h6>Leave </h6>
                                            <h6>{{ statusCounts['leave'] }}</h6>
                                        </div>
                                    </div>
                                    <div class="progress-div-expanded"
                                        style="height: 5rem; width: 0; border-radius: 1rem; position: absolute; top: 0; left: 1rem; transition: width 0.3s; background-color: #F97D80;">
                                    </div>
                                </div>

                                <!-- this is the side info tab training-->
                                <div class="bg-white status-div mt-4"
                                    style="height: 5rem; width:20rem; border-radius: 1rem; position: relative;"
                                    @click="check = 'Training'">
                                    <div class="progress-div"
                                        style="height: 5rem; width: 1rem; border-radius: 1rem; position: absolute; top: 0; left: 0; transition: width 0.3s; background-color: #6FBEF8;">
                                    </div>
                                    <div class="d-flex px-5 pt-3" style="position: relative;">
                                        <h1><i class="bi bi-person-fill-gear"></i></h1>
                                        <div class="d-flex row px-5">
                                            <h5></h5>
                                            <h6>Training </h6>
                                            <h6>{{ statusCounts['training'] }}</h6>
                                        </div>
                                    </div>
                                    <div class="progress-div-expanded"
                                        style="height: 5rem; width: 0; border-radius: 1rem; position: absolute; top: 0; left: 1rem; transition: width 0.3s; background-color: #6FBEF8;">
                                    </div>
                                </div>

                                <!-- this is the side info tab for event-->
                                <div class="bg-white status-div mt-4"
                                    style="height: 5rem; width:20rem; border-radius: 1rem; position: relative;"
                                    @click="check = 'Events'">
                                    <div class="progress-div"
                                        style="height: 5rem; width: 1rem; border-radius: 1rem; position: absolute; top: 0; left: 0; transition: width 0.3s; background-color:#F0EB7C;">
                                    </div>
                                    <div class="d-flex px-5 pt-3" style="position: relative;">
                                        <h1><i class="bi bi-person-fill-up"></i></h1>
                                        <div class="d-flex row px-5">
                                            <h5></h5>
                                            <h6>Event </h6>
                                            <h6>{{ statusCounts['events'] }}</h6>
                                        </div>
                                    </div>
                                    <div class="progress-div-expanded"
                                        style="height: 5rem; width: 0; border-radius: 1rem; position: absolute; top: 0; left: 1rem; transition: width 0.3s; background-color:#F0EB7C;">
                                    </div>
                                </div>

                            </div>



                        </div>
                    </div>

                </div>
                <!-- this is for the log out and the small logo of pelden cholay nempar gyel -->
                <div class="d-flex align-items-center w-100 px-4 pe-5" style="padding-top: 2rem;">
                    <div class="w-50">
                        <img src="https://tinyurl.com/mu7ybe83" alt=""
                            style="height: 3rem; width: auto; border-radius: 50%;">
                    </div>
                    <Link href="/logout" method="delete" style="text-decoration: none; color: inherit;">
                    <div class="w-50 ">
                        <div class="d-flex align-items-center float-end pe-1">
                            <img src="../../Components/logout.png" alt="logout" style="height:0.9rem;">
                            <p class="text-white" style="padding-top: 0.9rem;">Logout</p>
                        </div>
                    </div>
                    </Link>
                </div>
            </div>
            <div class="col-9">
                <div class="py-5">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex" style="margin-left: 2%;">
                            <Link href="/director/individualStat">
                            <div class="btn cus-btn me-2" data-bs-toggle="modal" style="background-color: #6089DA;"
                                role="button">
                                <p class="text-white" style="padding: 0; margin: 0;"> Back </p>
                            </div>
                            </Link>
                        </div>
                    </div>
                </div>
                <div>
                    <h5 class="text-start fw-bold" style="color: gray; margin-left: 2%;">Doctor Profile</h5>
                    <div class="row">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex"
                                style="background-color: #F5F5F5; width: 96%; margin-left: 2%; min-width: 800px;">
                                <div class="col-3" style="margin: 2%;">
                                    <img :src="doc[0].src" alt="Profile Picture" style="width: 100%; min-width: 300px;">
                                </div>
                                <div class="col-3" style="margin: 2%;">
                                    <h6>{{ doc[0].DoctorName }}</h6>
                                    <h6>{{ doc[0].Education }}</h6>
                                    <h6>{{ doc[0].Title }}</h6>
                                    <h6>{{ doc[0].Department }}</h6>
                                    <h6>+975 {{ doc[0].phone }}</h6>
                                    <h6>{{ doc[0].email }}</h6>
                                </div>
                              
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 2%;">
                        <div class="col-3" style="background-color: #F5F5F5; margin-left: 3%; width: 30%;">
                            <h6 class="text-start fw-bold" style="color: gray; margin: 2%;">Leave History</h6>
                            <a :href="`/director/leaveHystory/${props.id}`" style="text-decoration: none;color: gray;">
                                <h6 class="text-end fw-bold" style="color: gray; ">See More ></h6>
                            </a>
                            <table class="table">
                                <thead>
                                    <th scope="col" style="background-color: #6089DA;" class="text-white">Start Date
                                    </th>
                                    <th scope="col" style="background-color: #6089DA;" class="text-white">End Date</th>
                                </thead>
                                <tbody>
                                    <tr v-if="firstSixLeaves.length > 0" v-for="x in firstSixLeaves">
                                        <td>{{ x.startDate }}</td>
                                        <td>{{ x.endDate }}</td>
                                    </tr>
                                    <tr v-else>
                                        <td colspan="2">
                                            <p class="text-center fw-bold" style="color: gray;"> {{ doc[0].DoctorName }}
                                                is yet to take leave </p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-3" style="background-color: #F5F5F5; margin-left: 2%;width: 30%;">
                            <h6 class="text-start fw-bold" style="color: gray; margin: 2%;">Training History</h6>
                            <a :href="`/director/TrainingHystory/${props.id}`" style="text-decoration: none;color: gray;">
                                <h6 class="text-end fw-bold" style="color: gray;">See More ></h6>
                            </a>
                            <table class="table">
                                <thead>
                                    <th scope="col" style="background-color: #6089DA;" class="text-white">Start Date
                                    </th>
                                    <th scope="col" style="background-color: #6089DA;" class="text-white">End Date</th>
                                </thead>
                                <tbody>
                                    <tr v-if="firstSixTrainings.length > 0" v-for="x in firstSixTrainings">
                                        <td>{{ x.startDate }}</td>
                                        <td>{{ x.endDate }}</td>
                                    </tr>
                                    <tr v-else>
                                        <td colspan="2">
                                            <p class="text-center fw-bold" style="color: gray;"> {{ doc[0].DoctorName }}
                                                is yet go for any training </p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-3" style="background-color: #F5F5F5; margin-left: 2%;width: 30%;">
                            <h6 class="text-start fw-bold" style="color: gray; margin: 2%;">Events History</h6>
                            <a :href="`/director/eventHistory/${props.id}`" style="text-decoration: none;color: gray;">
                                <h6 class="text-end fw-bold" style="color: gray;">See More ></h6>
                            </a>
                            <table class="table">
                                <thead>
                                    <th scope="col" style="background-color: #6089DA;" class="text-white">Start Date
                                    </th>
                                    <th scope="col" style="background-color: #6089DA;" class="text-white">End Date</th>
                                </thead>
                                <tbody>
                                    <tr v-if="firstSixEvents.length > 0" v-for="x in firstSixEvents">
                                        <td>{{ x.startDate }}</td>
                                        <td>{{ x.endDate }}</td>
                                    </tr>
                                    <tr v-else>
                                        <td colspan="2">
                                            <p class="text-center fw-bold" style="color: gray;"> {{ doc[0].DoctorName }}
                                                is yet to go for any events </p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>



</template>

<script setup>

import { ref, computed } from 'vue';
import { Link, useForm } from '@inertiajs/vue3';

const props = defineProps({
    id: Object,
    hospital: Array,
    doctor: Array,
    user: Object,
    events: Array,
    leave: Array,
    training: Array,

})

const firstSixLeaves = props.leave
    .sort((a, b) => b.id - a.id)
    .filter(leave => leave.doctor_id == props.id)
    .slice(0, 5);

const firstSixTrainings = props.training
    .sort((a, b) => b.id - a.id)
    .filter(training => training.doctor_id == props.id)
    .slice(0, 5);

const firstSixEvents = props.events
    .sort((a, b) => b.id - a.id)
    .filter(event => event.doctor_id == props.id)
    .slice(0, 5);

const Selecteddoc = computed(() => {

    return props.doctor.filter((doc) => {
        const id = doc.id
        return id == props.id;
    });
});
console.log(props.id)
console.log(props.leave)
console.log(firstSixLeaves)
const doc = Selecteddoc.value

const selectedHospitalName = ref('')
const DoctorsCount = computed(() => {
    const hospitalID = props.hospital.find(hospital => hospital.ADMEmail === props.user.email);

    const statusCounts = {
        active: 0,
        leave: 0,
        training: 0,
        events: 0
    };

    const filteredDoctors = props.doctor.filter((doc) => {

        const status = doc.current_status.toLowerCase();

        if (status == 'active' ) {
            statusCounts.active++;
        } else if (status == 'leave') {
            statusCounts.leave++;
        } else if (status == 'training') {
            statusCounts.training++;
        } else if (status == 'events') {
            statusCounts.events++;
        }

    });


    return [filteredDoctors.length, statusCounts]; // Return an array with the count of results and status counts
});
const [resultCount, statusCounts] = DoctorsCount.value;
const check = ref('')

</script>