<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-3" style="background-color: #6089da;height: 100vh;">
                <div class="sidebar w-100">
                    <div class="sidebar-header">
                        <img src="../../Components/logo.png" alt="Bhutan National Medical Service logo"
                            style="width: 7rem; border-radius: 50%;">
                        <h6 class="text-white pt-5">National Medical Service</h6>
                        <h6 class="text-white">SMS: Staff Monitoring System</h6>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-center ">
                        <div class="text-center">

                            <div class="d-flex justify-content-center row w-100">

                                <div class="status-div mt-4" role="button"
                                    :style="{ backgroundColor: check === 'Active' ? '#78E289' : '#FFFFFF' }"
                                    style="height: 5rem; width:20rem; border-radius: 1rem; position: relative;"
                                    @click="setActive">
                                    <div v-if="check !== 'Active'" class="progress-div"
                                        style="height: 5rem; width: 1rem; border-radius: 1rem; position: absolute; top: 0; left: 0; transition: width 0.3s;background-color: #78E289">
                                    </div>
                                    <div class="d-flex px-5 pt-3" style="position: relative;">
                                        <h1><i class="bi bi-person-fill-check"></i></h1>
                                        <div class="d-flex row px-5">
                                            <h5></h5>
                                            <h6>Active </h6>
                                            <h6>{{ statusCounts['active'] }}</h6>
                                        </div>
                                    </div>
                                </div>

                                <!-- this is the side info tab for leave-->
                                <div class="status-div mt-4" role="button"
                                    :style="{ backgroundColor: check === 'Leave' ? '#F97D80' : '#FFFFFF' }"
                                    style="height: 5rem; width:20rem; border-radius: 1rem; position: relative;"
                                    @click="setLeave">
                                    <div v-if="check !== 'Leave'" class="progress-div"
                                        style="height: 5rem; width: 1rem; border-radius: 1rem; position: absolute; top: 0; left: 0; transition: width 0.3s; background-color: #F97D80;">
                                    </div>
                                    <div class="d-flex px-5 pt-3" style="position: relative;">
                                        <h1><i class="bi bi-person-fill-dash"></i></h1>
                                        <div class="d-flex row px-5">
                                            <h5></h5>
                                            <h6>Leave </h6>
                                            <h6>{{ statusCounts['leave'] }}</h6>
                                        </div>
                                    </div>
                                </div>

                                <!-- this is the side info tab training-->
                                <div class="status-div mt-4" role="button"
                                    :style="{ backgroundColor: check === 'Training' ? '#6FBEF8' : '#FFFFFF' }"
                                    style="height: 5rem; width:20rem; border-radius: 1rem; position: relative;"
                                    @click="setTraining">
                                    <div v-if="check !== 'Training'" class="progress-div"
                                        style="height: 5rem; width: 1rem; border-radius: 1rem; position: absolute; top: 0; left: 0; transition: width 0.3s; background-color: #6FBEF8;">
                                    </div>
                                    <div class="d-flex px-5 pt-3" style="position: relative;">
                                        <h1><i class="bi bi-person-fill-gear"></i></h1>
                                        <div class="d-flex row px-5">
                                            <h5></h5>
                                            <h6>Training</h6>
                                            <h6>{{ statusCounts['training'] }}</h6>

                                        </div>
                                    </div>
                                </div>

                                <!-- this is the side info tab for event-->
                                <div class="status-div mt-4" role="button"
                                    :style="{ backgroundColor: check === 'Events' ? '#F0EB7C' : '#FFFFFF' }"
                                    style="height: 5rem; width:20rem; border-radius: 1rem; position: relative;"
                                    @click="setEvent">
                                    <div v-if="check !== 'Event'" class="progress-div"
                                        style="height: 5rem; width: 1rem; border-radius: 1rem; position: absolute; top: 0; left: 0; transition: width 0.3s; background-color:#F0EB7C;">
                                    </div>
                                    <div class="d-flex px-5 pt-3" style="position: relative;">
                                        <h1><i class="bi bi-person-fill-up"></i></h1>
                                        <div class="d-flex row px-5">
                                            <h5></h5>
                                            <h6>Event </h6>
                                            <h6>{{ statusCounts['events'] }}</h6>
                                        </div>
                                    </div>
                                </div>

                            </div>



                        </div>
                    </div>

                </div>
                <!-- this is for the log out and the small logo of pelden cholay nempar gyel -->
                <div class="d-flex align-items-center w-100 px-4 pe-5" style="padding-top: 2rem;">
                    <div class="w-50">
                        <img src="https://tinyurl.com/mu7ybe83" alt=""
                            style="height: 3rem; width: auto; border-radius: 50%;">
                    </div>
                    <Link href="/logout" method="delete" style="text-decoration: none; color: inherit;">
                    <div class="w-50 ">
                        <div class="d-flex align-items-center float-end pe-1">
                            <img src="../../Components/logout.png" alt="logout" style="height:0.9rem;">
                            <p class="text-white" style="padding-top: 0.9rem;">Logout</p>
                        </div>
                    </div>
                    </Link>
                </div>
            </div>

            <div class="col-9">
                <div class="row">
                    <div class="col py-5">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex">
                                <Link href="/director/home">
                                <div class="btn cus-btn me-2" data-bs-toggle="modal" style="background-color: #6089DA;"
                                    role="button">
                                    <p class="text-white" style="padding: 0; margin: 0;"> Back </p>
                                </div>
                                </Link>
                            </div>
                            <form class="d-flex flex-grow-1" role="search">
                                <input class="form-control flex-grow-1 me-2" type="search" placeholder="Search"
                                    aria-label="Search" v-model="search">
                            </form>
                            <select v-model="hos" class="btn cus-btn me-2 "
                                style="background-color: #6089DA; color: white; margin: 2%;"
                                placeholder="All Hospitals">
                                <option value='' style="background-color: white; color: black;">
                                    All Hospitals
                                </option>
                                <option v-for="x in props.hospital" :value='x.name'
                                    style="background-color: white; color: black;">{{ x.name }}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="py-4">
                    <h5 class="text-start fw-bold" style="color: gray;">Doctors</h5>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col" style="background-color: #6089DA;" class="text-white">Name</th>
                                <th scope="col" style="background-color: #6089DA;" class="text-white">Department</th>
                                <th scope="col" style="background-color: #6089DA;" class="text-white">Hospital</th>
                                <th scope="col" style="background-color: #6089DA;" class="text-white">Status</th>
                                <th scope="col" style="background-color: #6089DA;" class="text-white">Remarks</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr v-if="paginatedDoctors.length > 0" v-for="(r, index) in paginatedDoctors" :key="index">
                                <td>
                                    <a :href="`/director/docProfile/${r.id}`" style="text-decoration: none;">{{
                                        r.DoctorName
                                    }}</a>
                                </td>
                                <td>{{ r.Department }}</td>
                                <td>{{ r.hospital_name }}</td>
                                <td>{{ r.current_status }} </td>
                                <td>{{ r.current_remarks }}</td>

                            </tr>
                            <tr v-else>
                                <td colspan="5" class="text-center">
                                    <p class="text-danger text-muted ">No Doctors found.</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="text-center d-flex justify-content-center">
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                                <li class="page-item" :class="{ disabled: currentPage2 === 1 }">
                                    <a class="page-link" href="#" @click="goToPage2(currentPage2 - 1)"
                                        aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li class="page-item" v-for="page in totalPages2" :key="page"
                                    :class="{ active: currentPage2 === page }">
                                    <a class="page-link" href="#" @click="goToPage2(page)">{{ page }}</a>
                                </li>
                                <li class="page-item" :class="{ disabled: currentPage2 === totalPages2 }">
                                    <a class="page-link" href="#" @click="goToPage2(currentPage2 + 1)"
                                        aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div style="display: flex; justify-content: end; align-content: end;">
                        <button class="btn cus-btn me-2" style="background-color: #6089DA;" @click="downloadCSV">
                            <p class="text-white" style="padding: 0; margin: 0;">Download as an Excel file</p>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup>

import { ref, computed } from 'vue';
import { Link, useForm } from '@inertiajs/vue3';

const search = ref('')

const props = defineProps({

    user: Object,
    hospital: Array,
    doctor: Array

})

const itemsPerPage2 = 10; // Set the number of items per page
const currentPage2 = ref(1);

const check = ref('')
const hos = ref('')
const Doctors = computed(() => {
    const query = search.value.toLowerCase();

    return props.doctor.filter((doc) => {
        const name = doc.DoctorName.toLowerCase();
        const Department = doc.Department.toLowerCase();
        const status = doc.current_status.toLowerCase();
        const hospital = doc.hospital_name.toLowerCase();

        if (check.value.trim() !== '' && hos.value.trim() !== '') {
            return (name.includes(query) || Department.includes(query) || hospital.includes(query)) && (status === check.value.toLowerCase()) && (hospital === hos.value.toLowerCase());
        }
        else if (check.value.trim() !== '' && hos.value.trim() == '') {
            return (name.includes(query) || Department.includes(query) || hospital.includes(query)) && (status === check.value.toLowerCase());
        }
        else if (check.value.trim() == '' && hos.value.trim() !== '') {
            return (name.includes(query) || Department.includes(query) || hospital.includes(query)) && (hospital === hos.value.toLowerCase());
        }
        else {
            return (name.includes(query) || Department.includes(query) || hospital.includes(query));
        }
    });
});

const statusCounts = computed(() => {

    const statusCounts = {
        active: 0,
        leave: 0,
        training: 0,
        events: 0
    };

    const filteredDoctors = props.doctor.filter((doc) => {
        const hospital = doc.hospital_name.toLowerCase();
        const status = doc.current_status.toLowerCase();
        if (hos.value.trim() !== '') {
            if (hospital === hos.value.toLowerCase()) {
                if (status == 'active') {
                    statusCounts.active++;
                } else if (status == 'leave') {
                    statusCounts.leave++;
                } else if (status == 'training') {
                    statusCounts.training++;
                } else if (status == 'events') {
                    statusCounts.events++;
                }
            }
        } else {
            if (status == 'active') {
                statusCounts.active++;
            } else if (status == 'leave') {
                statusCounts.leave++;
            } else if (status == 'training') {
                statusCounts.training++;
            } else if (status == 'events') {
                statusCounts.events++;
            }
        }


    });


    return statusCounts; // Return an array with the count of results and status counts
});


const paginatedDoctors = computed(() => {
    const start = (currentPage2.value - 1) * itemsPerPage2;
    const end = start + itemsPerPage2;
    return Doctors.value.slice(start, end);
});
const DoctorsForDownload = computed(() => {
    return Doctors.value.map(doc => ({
        'Doctor Name': doc.DoctorName,
        'Department': doc.Department,
        'Current Status': doc.current_status,
        'Remarks': doc.current_remarks
    }));
});

const downloadCSV = () => {
    const csvContent = 'data:text/csv;charset=utf-8,' + [
        ['Doctor Name', 'Department', 'Current Status', 'Current Remarks'],
        ...DoctorsForDownload.value.map(doc => [doc['Doctor Name'], doc['Department'], doc['Current Status'], doc['Current Remarks']])
    ].map(e => e.join(',')).join('\n');

    const encodedUri = encodeURI(csvContent);
    const link = document.createElement('a');
    link.setAttribute('href', encodedUri);
    link.setAttribute('download', 'doctor_status.csv');
    document.body.appendChild(link);
    link.click();
    document.body.removeChild(link);
};
const totalPages2 = computed(() => Math.ceil(Doctors.value.length / itemsPerPage2));

function goToPage2(page) {
    if (page >= 1 && page <= totalPages2.value) {
        currentPage2.value = page;
    }
}

function setActive() {
    if (check.value === 'Active') {
        check.value = '';
    } else {
        check.value = 'Active';
    }
}
function setLeave() {
    if (check.value === 'Leave') {
        check.value = '';
    } else {
        check.value = 'Leave';
    }
}

function setTraining() {
    if (check.value === 'Training') {
        check.value = '';
    } else {
        check.value = 'Training';
    }
}

function setEvent() {
    if (check.value === 'Events') {
        check.value = '';
    } else {
        check.value = 'Events';
    }
}
</script>
<style>
.datacursor {
    position: relative;
    cursor: pointer;
}

.uldropdown {
    list-style: none;
    padding: 0;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    display: none;
    width: 100%;
}

.datacursor:hover ul {
    display: block;
}

.custom-file-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-file-input~.file-input-text {
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
    cursor: pointer;
}

.custom-file-input~.file-input-btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    white-space: nowrap;
    cursor: pointer;
}

.custom-file-input:focus~.file-input-text,
.custom-file-input~.file-input-btn:focus {
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.custom-file-input~.file-input-text:after {
    content: "Browse";
    padding: 0.375rem 0.75rem;
    background-color: #e9ecef;
    color: #495057;
    border-left: inherit;
    border-radius: inherit;
}
</style>