<template>
  <div class="row">
    <div class="col-3" style="background-color: #6089da; height: 98vh;">
      <div class="sidebar w-100">
        <div class="sidebar-header">
          <img src="../../Components/logo.png" alt="Bhutan National Medical Service logo"
            style="width: 7rem; border-radius: 50%;">
          <h6 class="text-white pt-5">National Medical Service</h6>
          <h6 class="text-white">SMS: Staff Monitoring System</h6>
        </div>
        <div>
          <h2 class="text-white" style="padding-top: 10rem; text-align: center; margin-bottom: 60%;">
            ADMIN <br> DASHBOARD
          </h2>
        </div>

      </div>
      <!-- this is for the log out and the small logo of pelden cholay nempar gyel -->
      <div class="d-flex align-items-center w-100 px-4 pe-5" style="padding-top: 2rem;">
        <div class="w-50">
          <img src="https://tinyurl.com/mu7ybe83" alt="" style="height: 3rem; width: auto; border-radius: 50%;">
        </div>
        <Link href="/logout" method="delete" style="text-decoration: none; color: inherit;">
        <div class="w-50 ">
          <div class="d-flex align-items-center float-end pe-1">
            <img src="../../Components/logout.png" alt="logout" style="height:0.9rem;">
            <p class="text-white" style="padding-top: 0.9rem;">Logout</p>
          </div>
        </div>
        </Link>
      </div>
    </div>
    <div class="col-9 py-5" style="padding: 2%;">
      <div class="d-flex justify-content-between align-items-center" style="margin-bottom: 2%;">
        <form class="d-flex flex-grow-1" role="search">
          <input class="form-control flex-grow-1 me-2" type="search" placeholder="Search" aria-label="Search"
            v-model="search">
        </form>
        <div class="d-flex">
          <a class="btn cus-btn me-2" data-bs-toggle="modal" style="background-color: #6089DA; color:white"
            href="#addingHospital" role="button">Add New Hospital</a>
          <a class="btn cus-btn" data-bs-toggle="modal" style="background-color: #6089DA; color: white;"
            href="#addingDirector" role="button">Add New Director</a>
        </div>
      </div>

      <div class="modal fade" id="addingHospital" aria-hidden="true" aria-labelledby="Add Hospital" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <form @submit.prevent="form.post('/addHospital')">
              <div class="modal-header">
                <h5 class="modal-title fw-bold" id="exampleModalToggleLabel">Add New Hospital</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="form-outline mb-4 text-start">

                  <input type="text" id="form2Example1" placeholder="Hospital Name" class="form-control my-4"
                    v-model="form.h_name" required />
                  <div v-if="form.errors.h_name">
                    {{ form.errors.h_name }}
                  </div>
                  <input type="text" id="form2Example1" placeholder="ADM Name" class="form-control my-4"
                    v-model="form.adm_name" required />
                  <div v-if="form.errors.adm_name">
                    {{ form.errors.adm_name }}
                  </div>
                  <input type="text" id="form2Example1" placeholder="ADM Email" class="form-control my-4"
                    v-model="form.adm_email" required />
                  <div v-if="form.errors.adm_email">
                    {{ form.errors.adm_email }}
                  </div>

                  <input type="text" id="form2Example1" placeholder="Location" class="form-control my-4 dropdown-toggle"
                    data-bs-toggle="dropdown" aria-expanded="false" v-model="form.location" readonly required />
                  <ul class="dropdown-menu" style="max-height: 200px; overflow-y: auto;">
                    <li v-for="s in locations.slice(0, 6)">
                      <button class="dropdown-item" type="button" @click="form.location = s">{{ s }}</button>
                    </li>
                    <li v-if="locations.length > 6" class="dropdown-divider"></li>
                    <li v-for="s in locations.slice(6)" class="px-2">
                      <button class="dropdown-item" type="button" @click="form.location = s">{{ s }}</button>
                    </li>
                  </ul>

                </div>
                <progress v-if="form.progress" :value="form.progress.percentage" max="100"
                  style="width: 100%; background-color:#6089da;">
                  {{ form.progress.percentage }}%
                </progress>
              </div>
              <!-- button for confirming and cancelling -->
              <div class="d-flex justify-content-around py-4">
                <button class="btn btn-success col-4" type="submit" :disabled="form.processing">Confirm</button>
                <button class="btn btn-danger col-4" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal"
                  data-bs-dismiss="modal" type="reset">Cancel</button>
              </div>
            </form>
          </div>
        </div>
      </div>


      <div class="modal fade" id="addingDirector" aria-hidden="true" aria-labelledby="Add Director" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <form @submit.prevent="form2.post('/addDirector')">
              <div class="modal-header">
                <h5 class="modal-title fw-bold" id="exampleModalToggleLabel">Add New Director</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="form-outline mb-4 text-start">

                  <input type="text" id="form2Example1" placeholder="Director Name" class="form-control my-4"
                    v-model="form2.name" required />
                  <div v-if="form2.errors.name">
                    {{ form2.errors.name }}
                  </div>
                  <input type="text" id="form2Example1" placeholder="Director Email" class="form-control my-4"
                    v-model="form2.email" required />
                  <div v-if="form2.errors.email">
                    {{ form2.errors.email }}
                  </div>
                </div>
                <progress v-if="form2.progress" :value="form2.progress.percentage" max="100"
                  style="width: 100%; background-color:#6089da;">
                  {{ form2.progress.percentage }}%
                </progress>
              </div>
              <!-- button for confirming and cancelling -->
              <div class="d-flex justify-content-around py-4">
                <button class="btn btn-success col-4" type="submit" :disabled="form2.processing">Confirm</button>
                <button class="btn btn-danger col-4" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal"
                  data-bs-dismiss="modal" type="reset">Cancel</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- ------------------end of the popup-------------- -->





      <div>
        <h5 class="text-start fw-bold" style="color: gray;"> Hospitals Details</h5>
        <table class="table">
          <thead>
            <tr>
              <th scope="col" style="background-color: #6089DA;" class="text-white">Hospital</th>
              <th scope="col" style="background-color: #6089DA;" class="text-white">ADM Name</th>
              <th scope="col" style="background-color: #6089DA;" class="text-white">ADM Email</th>
              <th scope="col" style="background-color: #6089DA;" class="text-white">Location</th>
              <th scope="col" style="background-color: #6089DA;" class="text-white">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr v-if="paginatedHospitals.length > 0" v-for="(x, index) in paginatedHospitals" :key="index">
              <td scope="row">{{ x.name }}</td>
              <td>{{ x.ADM_Name }}</td>
              <td>{{ x.ADMEmail }}</td>
              <td>{{ x.Location }}</td>
              <td>
                <div class="d-flex justify-content-around">

                  <div class="modal fade" id="exampleModalToggle3" aria-hidden="true"
                    aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <form @submit.prevent="form3.post('/editHospitalDetails')">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalToggleLabel">Edit Hospital Details for {{ form3.h_name }}
                            </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <div class="form-outline mb-4 text-start">
                              <input type="text" id="form2Example1" placeholder="New ADM Name" class="form-control my-4"
                                v-model="form3.name" required />
                              <div v-if="form3.errors.name">
                                {{ form3.errors.name }}
                              </div>
                            </div>
                            <div class="form-outline mb-4 text-start">
                              <input type="text" id="form2Example1" placeholder="New ADM email"
                                class="form-control my-4" v-model="form3.email" required />
                              <div v-if="form3.errors.email">
                                {{ form3.errors.email }}
                              </div>
                            </div>
                            <progress v-if="form3.progress" :value="form3.progress.percentage" max="100"
                              style="width: 100%; background-color:#6089da;">
                              {{ form3.progress.percentage }}%
                            </progress>
                          </div>
                          <div class="d-flex justify-content-around py-4">
                            <button type="submit" class="btn btn-success col-4"
                              :disabled="form3.processing">Confirm</button>
                            <button type="reset" class="btn btn-danger col-4" data-bs-target="#exampleModalToggle2"
                              data-bs-toggle="modal" data-bs-dismiss="modal">Cancel</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                  <a class="" data-bs-toggle="modal" href="#exampleModalToggle3" role="button" @click="form3.id = x.id, form3.h_name = x.name">
                    <h3><i class="bi bi-pencil-square"></i></h3>
                  </a>

                  <!-- ------------------popup for delete icon-------------------------------------------- -->
                  <div class="modal fade" :id="`deleteh_${x.id}`" aria-hidden="true"
                    aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalToggleLabel">Delete Hospital</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form @submit.prevent="form4.post('/deleteHospital')">
                          <div class="modal-body">
                            <h4>Are you sure you want to delete the hospital: {{ x.name }}?</h4>
                            <progress v-if="form4.progress" :value="form4.progress.percentage" max="100"
                              style="width: 100%; background-color:#6089da;">
                              {{ form4.progress.percentage }}%
                            </progress>
                          </div>
                          <!-- button for confirming and cancelling -->
                          <div class="d-flex justify-content-around py-4">
                            <button type="submit" class="btn btn-success col-4"
                              :disabled="form4.processing">Confirm</button>
                            <button type="reset" class="btn btn-danger col-4" data-bs-target="#exampleModalToggle2"
                              data-bs-toggle="modal" data-bs-dismiss="modal">Cancel</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                  <a class="" data-bs-toggle="modal" :href="`#deleteh_${x.id}`" @click="form4.id = x.id" role="button">
                    <h3><i class="bi bi-trash"></i></h3>
                  </a>
                </div>
              </td>

            </tr>
            <tr v-else>
              <td colspan="5" class="text-center">
                <p class="text-muted">No hospitals found.</p>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="text-center d-flex justify-content-center">
          <nav aria-label="Page navigation">
            <ul class="pagination">
              <li class="page-item" :class="{ disabled: currentPage1 === 1 }">
                <a class="page-link" href="#" @click="goToPage1(currentPage1 - 1)" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li class="page-item" v-for="page in totalPages1" :key="page" :class="{ active: currentPage1 === page }">
                <a class="page-link" href="#" @click="goToPage1(page)">{{ page }}</a>
              </li>
              <li class="page-item" :class="{ disabled: currentPage1 === totalPages1 }">
                <a class="page-link" href="#" @click="goToPage1(currentPage1 + 1)" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>

        <div class="py-4">
          <h5 class="text-start fw-bold" style="color: gray;">Directors</h5>
          <table class="table">
            <thead>
              <tr>
                <th scope="col" style="background-color: #6089DA;" class="text-white">Name</th>
                <th scope="col" style="background-color: #6089DA;" class="text-white">Email</th>
                <th scope="col" style="background-color: #6089DA;" class="text-white">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr v-if="paginatedDirectors.length > 0" v-for="(r, index) in paginatedDirectors" :key="index">
                <td>{{ r.username }}</td>
                <td>{{ r.email }}</td>
                <td>
                  <div class="d-flex justify-content-around">

                    <!-- ------------------popup for delete icon-------------------------------------------- -->
                    <div class="modal fade" :id="`delete_${r.id}`" aria-hidden="true"
                      aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                      <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalToggleLabel">Remove Director User Account</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <form @submit.prevent="form5.delete(`/deleteUser/${r.id}`)">
                            <div class="modal-body">
                              <h4>Are you sure you want to delete the user: {{ r.username }}?
                              </h4>
                            </div>
                            <!-- button for confirming and cancelling -->
                            <div class="d-flex justify-content-around py-4">
                              <button type="submit" class="btn btn-success col-4"
                                :disabled="form5.processing">Confirm</button>
                              <button type="reset" class="btn btn-danger col-4" data-bs-target="#exampleModalToggle2"
                                data-bs-toggle="modal" data-bs-dismiss="modal">Cancel</button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                    <a class="" data-bs-toggle="modal" :href="`#delete_${r.id}`" role="button">
                      <h3><i class="bi bi-trash"></i></h3>
                    </a>
                  </div>
                </td>

              </tr>
              <tr v-else>
                <td colspan="3" class="text-center">
                  <p class="text-muted">No directors found.</p>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="text-center d-flex justify-content-center">
            <nav aria-label="Page navigation">
              <ul class="pagination">
                <li class="page-item" :class="{ disabled: currentPage2 === 1 }">
                  <a class="page-link" href="#" @click="goToPage2(currentPage2 - 1)" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li class="page-item" v-for="page in totalPages2" :key="page"
                  :class="{ active: currentPage2 === page }">
                  <a class="page-link" href="#" @click="goToPage2(page)">{{ page }}</a>
                </li>
                <li class="page-item" :class="{ disabled: currentPage2 === totalPages2 }">
                  <a class="page-link" href="#" @click="goToPage2(currentPage2 + 1)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import { useForm, Link } from '@inertiajs/vue3';
import { ref, computed, watch } from 'vue';

const props = defineProps({

  users: Array,
  hospital: Array,

})

const locations = ['Chhukha', 'Haa', 'Paro', 'Samtse', 'Thimphu', 'Dagana', 'Gasa', 'Punakha', 'Tsirang', 'Wangdue Phodrang', 'Bumthang', 'Sarpang', 'Trongsa', 'Zhemgang', 'Lhuntse', 'Mongar', 'Pema Gatshel', 'Samdrup Jongkhar', 'Trashigang', 'Trashi Yangtse'];

const form = useForm({
  h_name: '',
  adm_name: '',
  adm_email: '',
  location: '',
});

const form2 = useForm({
  name: '',
  email: '',
});

const form3 = useForm({
  id: '',
  h_name:'',
  name: '',
  email: '',
});

const form4 = useForm({
  id: '',
})

const form5 = useForm({

})
watch(form, () => {
  if (form.processing) {
    console.log(form.progress.percentage)
  }
})
const search = ref('');
const itemsPerPage1 = 3; // Set the number of items per page
const currentPage1 = ref(1);

const itemsPerPage2 = 3; // Set the number of items per page
const currentPage2 = ref(1);


const hospitals = computed(() => {
  const query = search.value.toLowerCase();


  return props.hospital.filter((hospital) => {
    const name = hospital.name.toLowerCase();
    const ADMEmail = hospital.ADMEmail.toLowerCase();
    const Location = hospital.Location.toLowerCase();
    const ADM_Name = hospital.ADM_Name.toLowerCase();

    return name.includes(query) || ADMEmail.includes(query) || Location.includes(query) || ADM_Name.includes(query);
  });
});

const Directors = computed(() => {
  const query = search.value.toLowerCase();

  return props.users.filter((user) => {
    const username = user.username.toLowerCase();
    const email = user.email.toLowerCase();
    const userType = user.user_type.toLowerCase();

    return (username.includes(query) || email.includes(query)) && userType == 'director';
  });
});

const paginatedHospitals = computed(() => {
  const start = (currentPage1.value - 1) * itemsPerPage1;
  const end = start + itemsPerPage1;
  return hospitals.value.slice(start, end);
});

const totalPages1 = computed(() => Math.ceil(hospitals.value.length / itemsPerPage1));

function goToPage1(page) {
  if (page >= 1 && page <= totalPages1.value) {
    currentPage1.value = page;
  }
}

const paginatedDirectors = computed(() => {
  const start = (currentPage2.value - 1) * itemsPerPage2;
  const end = start + itemsPerPage2;
  return Directors.value.slice(start, end);
});

const totalPages2 = computed(() => Math.ceil(Directors.value.length / itemsPerPage2));

function goToPage2(page) {
  if (page >= 1 && page <= totalPages2.value) {
    currentPage2.value = page;
  }
}
</script>
