<template>
  <template v-if="user.user_type == 'Ad'">
    <div class="container-fluid" style="padding: 0;margin: 0;">
      <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-3 px-sm-2 px-0 bg-light">
          <div class="text-center" style="background-color: #6089da;">
            <div class="m-4">
              <img src="../Components/logo.png" alt="Bhutan National Medical Service logo"
                style="width: 7rem; border-radius: 50%;">
              <h6 class="text-white pt-5">National Medical Service</h6>
              <h6 class="text-white">SMS:Staff Monitoring System</h6>
            </div>
            <div>
              <h2 class="text-white" style="padding-top: 10rem;">
                ADMIN <br> DASHBOARD
              </h2>
            </div>

            <div class="d-flex align-items-center" style="padding-top: 12rem; padding-left: 3rem;">
              <img src="https://tinyurl.com/mu7ybe83" alt="" style="height: 3rem; width: auto; border-radius: 50%;">
              <Link href="/logout" method="delete" style="text-decoration: none; color: inherit;">
              <div class="d-flex align-items-center" style="padding-left: 9rem;">
                <img src="../Components/logout.png" alt="logout" class="" style="height:0.9rem;">
                <p class="text-white" style="padding-top: 0.9rem;">Logout</p>
              </div>  
              </Link>
            </div>
          </div>
        </div>
        <div class="col py-3">
          <!-- <RouterView/> -->
          <slot></slot>
        </div>


      </div>
    </div>
  </template>

  <template v-else>
    <div>
      <!-- <RouterView/> -->
      <slot></slot>
    </div>
  </template>





  <div v-if="error" class="text-red-600">
    {{ error }}
  </div>
  <div v-if="flashSuccess" class="w-full bg-green-500">
    <div class="container-fypms py-3 font-semibold text-white">
      {{ flashSuccess }}
    </div>
  </div>

</template>

<style>
.custom-mb {
  margin-top: 50px;
}

.custom-btn {
  width: 20rem;
  transition: background-color 0.3s ease, color 0.3s ease;
  /* Increase specificity to override Bootstrap styles */
  background-color: transparent !important;
  color: black !important;
}

.custom-btn:hover {
  background-color: green !important;
  color: white !important;
  font-weight: bold !important;
}

.custom-btn:active {
  background-color: green !important;
  color: white !important;
  font-weight: bold !important;
}

.nav-link:active {
  background-color: green !important;
  color: white !important;
  font-weight: bold !important;
}
</style>


<script setup>
import { computed } from 'vue'
import { Link, usePage } from '@inertiajs/vue3';



const page = usePage()
const flashSuccess = computed(
  () => page.props.flash.success
)

const error = computed(
  () => page.props.error
)

const user = computed(
  () => page.props.user
)

const url = computed(
  () => page.props.url
)
</script>
