<template>
  <div class="login-widget ">
    <div
      style="background-color: rgba(0, 0, 0, 0.5);width: 100%;height: 100%;   display: flex;flex-direction: column;align-items: center;justify-content: center;">
      <div class="tab-content" style="width: 30%;">
        <ul class="nav nav-tabs" id="userTypeTabs">
          <li v-for="(tab, index) in userTypes" :key="index" class="nav-item ">
            <a :class="{ 'nav-link': true, active: activeTab === tab }" @click="changeTab(tab)">{{ tab }}</a>
          </li>
        </ul>
        <div v-for="(tab, index) in userTypes" :key="index"
          :class="{ 'tab-pane': true, fade: true, show: activeTab === tab, active: activeTab === tab }">
        </div>
      </div>
      <div class="login-box">
        <img src="../../Components/logo.png" alt="Logo">
        <h2>LOGIN</h2>


        <form @submit.prevent="form.post('/reset-password')">
          <!-- Email input -->
          <div class="form-outline mb-4 text-start">
            <input v-model="form.email" type="email" id="form2Example1" class="form-control" placeholder="Email" readonly />
          </div>
          <div v-if="form.errors.email" class="text-red-600">
            {{ form.errors.email }}
          </div>

          <div class="form-outline mb-4 text-start">
            <input v-model="form.password" type="password" id="form2Example1" class="form-control" placeholder="New Password"/>
          </div>
          <div v-if="form.errors.password" class="text-red-600">
            {{ form.errors.password }}
          </div>

          <div class="form-outline mb-4 text-start">
            <input v-model="form.password_confirmation" type="password" id="form2Example1" class="form-control" placeholder="Confirm Password" />
          </div>
          <div v-if="form.errors.password_confirmation" class="text-red-600">
            {{ form.errors.password_confirmation }}
          </div>

          <!-- Submit button -->
          <button type="submit" class="btn btn-success btn-block w-100 py-2 mt-2 fw-bold">Reset</button>
          <Link href="/login" role="cancel" class="btn btn-success btn-block w-100 py-2 mt-2 fw-bold" as="button">Cancel
          </Link>

        </form>
      </div>
    </div>
  </div>
</template>

<script setup>
import { useForm, Link } from '@inertiajs/vue3';

const props = defineProps({
  token: String,
  email: String
})
console.log(props.email)
const form = useForm({
  token: props.token ?? null,
  email: props.email,
  password: '',
  password_confirmation: ''
});
</script>
<style scoped>
/* Background */
.login-widget {
  background-image: url('../../Components/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Login Widget */
.login-widget {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-box {
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 30px;
  text-align: center;
  width: 30%;
  min-width: 300px;
  height: auto;
  display: flex;
  flex-direction: column;
}

.login-box img {
  width: 30%;
  margin-bottom: 10px;
  align-self: center;
}

.login-box h2 {
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-box button {
  width: 100%;
  padding: 10px;
  background-color: #74DF86;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10%;
  margin-bottom: 2%;
}

.login-box .error {
  color: red;
  margin-bottom: 10px;
}

.login-box .forgot-password {
  margin-top: 10px;
}

/* Tabs */
.nav-tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  list-style-type: none;
  padding: 0;
  border: none;

}
.nav-item {
  width: 33%;
  min-width: 95px;
}
.nav-tabs li {
  margin: 0 0.5px;


}

.nav-tabs .nav-link {
  background-color: #93C5FF;
  /* Inactive tab color */
  color: black;
  /* Default color for inactive tabs */
  border: none;
  border-radius: 20px 20px 0 0;
  padding: 10px 20px;
  text-decoration: none;
  cursor: pointer;

}

.nav-tabs .nav-link.active {
  background-color: #4D7EC7;
  /* Active tab color */
  color: white;
  /* Color for active tab */
}
</style>